﻿@model LankaBookin.Models.City

@{
    ViewBag.Title = "Create City";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="submit-progress hidden">

  <label>Please wait while Saving Data...</label>

</div>

@using (Html.BeginForm("Create", "City", FormMethod.Post, new { enctype = "multipart/form-data" })){
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create City</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CityName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CityName)
            @Html.ValidationMessageFor(model => model.CityName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" } )
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DistrictId, "District")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DistrictId", String.Empty)
            @Html.ValidationMessageFor(model => model.DistrictId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsTopDestination)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsTopDestination)
            @Html.ValidationMessageFor(model => model.IsTopDestination)
        </div>

        <label for="file">Upload Image(Optional)</label> 
        <input type="file" name="file" id="file" style="width: 30%;" /> 
        @Html.ValidationMessage("upload")

        <div class="col-md-2">
            <input type="submit" id="submit" value="Create" />
        </div>
        <div class="col-md-2 btn btn-info b-t-l">
    @Html.ActionLink("Back to List", "Index")
</div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </fieldset>
}



<script type="text/javascript">

    $('form').submit(function () {
        if ($(this).valid()) {
            $(".submit-progress").removeClass("hidden");
            $("body").addClass("submit-progress-bg");
        }
        else {
            e.preventDefault();
        }
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
