﻿@model LankaBookin.Models.City

@{
    ViewBag.Title = "City List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="col-md-12">
<h2>Details</h2>
</div>

    <div class="col-md-12">
    <span>City</span>
        </div>
    @{
        if(!string.IsNullOrEmpty(Model.ImagePath)){
            var img = new FileInfo(@Model.ImagePath);
            <div class="col-md-12">
            <img class="img-sec" src="@Url.Content(String.Format("~/Images/City/{0}", img.Name))" width="100" height="100" />
                </div>
        }
    }
    <div class="col-md-12">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.CityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityName)
    </div>
        </div>
    <div class="col-md-12">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
        </div>
    <div class="col-md-12">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.District.DistrictName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.District.DistrictName)
    </div>
        </div>


<p>&nbsp;</p>
<p>&nbsp;</p>
<div>
    <div class="col-md-2 btn btn-primary link-c-n">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </div>
    <div class="col-md-2 btn btn-info">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>