﻿@model IEnumerable<LankaBookin.Models.City>
@using GridMvc.Html

@{
    ViewBag.Title = "City List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}


<h2>@ViewBag.Title</h2>

<div class="clear-fix">&nbsp;</div>
<div class="btn btn-danger link-c-n">
    @Html.ActionLink("Create New", "Create")
</div>

@Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.CityName).Titled("City Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Description).Titled("Description").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.IsTopDestination).Titled("Is Top Destination").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.District.DistrictName).Titled("District Name").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("View", "Details", "City", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());
              columns.Add().Titled("Actions").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", "City", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-success" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Delete", "Delete", "City", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-danger modal-link" }).ToHtmlString());

          }).WithPaging(10)



