﻿@model LankaBookin.Models.Role

@{
    ViewBag.Title = "Delete User Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<p>&nbsp;</p>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoleName)
    </div>


@using (Html.BeginForm()) {
    <div class="col-md-2">
        <input type="submit" value="Delete" />
    </div>
    <div class="col-md-2 btn btn-info b-t-l">
        @Html.ActionLink("Back to List", "Index")
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
}
