﻿@model IEnumerable<LankaBookin.Models.Role>
@using GridMvc.Html

@{
    ViewBag.Title = "User Role List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>@ViewBag.Title</h2>

<div class="clear-fix">&nbsp;</div>
<div class="btn btn-danger link-c-n">
    @Html.ActionLink("Create New", "Create")
</div>

@Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.RoleName).Titled("Role Name").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("View", "Details", "UserRole", new { id = o.RoleId, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());
              columns.Add().Titled("Actions").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", "UserRole", new { id = o.RoleId, page = ViewBag.Page }, new { @class = "btn btn-success" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Delete", "Delete", "UserRole", new { id = o.RoleId, page = ViewBag.Page }, new { @class = "btn btn-danger modal-link" }).ToHtmlString());

          }).WithPaging(10)


