﻿@model IEnumerable<LankaBookin.Models.Apartment>
@using GridMvc.Html
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/css")

<style>
    .popup {
        width: 900px !important;
        margin: 30px auto !important;
    }
</style>

@Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.Name).Titled("Apartment Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Rate).Titled("Rating").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Description).Titled("Description").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("View", "DetailsPartial", "Apartment", new { id = o.Id, page = ViewBag.Page }, new { @class = "popup" }).ToHtmlString());
              columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => @<label class="selectAprt" id="saprt@(o.Id)">Select apartment</label>);

          }).WithPaging(10)


<div id="divInDialog">

</div>

        <script type="text/javascript">

            $(document).ready(function () {

                $('.popup').click(function () {
                    $('#divInDialog').dialog({
                        close: function (event, ui) {
                            dialog.remove();
                        },
                        modal: true
                    }).load(this.href, {});

                    return false;
                });

                $('.selectAprt').click(function (e) {
                    var desId = '@ViewBag.DesId';
                    var ids = e.target.id;
                    var id = ids.substring(5);
                    $('#sa' + desId).val(id);
                    $.getJSON("/Apartment/GetApartmentName", { apartmentId: id },
                  function (data, status) {
                      $('#aprt_name' + desId).val(data.name);
                      if (data.isPerRoom) {
                          $('#price_des' + desId).text('Price per room');
                      }
                      else {
                          $('#price_des' + desId).text('Price per whole apartment');
                      }
                      $('#price' + desId).val(data.price);
                      $('#d' + desId).show();
                      $('#window').hide();
                  });

                });

            });
        </script>
