﻿@model LankaBookin.Models.Apartment

@{
    ViewBag.Title = "Apartment Create";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<h2>Create</h2>

<div class="submit-progress hidden">

    <label>Please wait while Saving Data...</label>

</div>


@using (Html.BeginForm("Create", "Apartment", FormMethod.Post,
                            new { enctype = "multipart/form-data", id = "Form" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>New Property</legend>

        @Html.Hidden("RefNo", (String)ViewBag.RefNo)
        @Html.Hidden("Lat", "")
        @Html.Hidden("Lan", "")
        <div class="col-md-12">
            <div class="editor-label">
                @Html.LabelFor(model => model.RefNo) :  @Html.Label((String)ViewBag.RefNo)
            </div>
        </div>
        <div class="col-md-12">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "", new { id = "nameVal" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="col-md-6">
            <div class="editor-label">
                @Html.LabelFor(model => model.Address2)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address2)
                @Html.ValidationMessageFor(model => model.Address2)
            </div>
        </div>
        <div class="col-md-12">
            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <label>Select Accomadation Type </label>
                @foreach (var item in ViewBag.AccomadationTypes)
                {
                    <input type="checkbox" id="Acc@(item.Id)" name="Acc@(item.Id)" />
                    @item.AccomadationName 
                }

            </div>
        </div>
        <div class="col-md-12">

            <div class="editor-field">
                @Html.LabelFor(model => model.IsPerRoom)
                @Html.EditorFor(model => model.IsPerRoom)
                @Html.ValidationMessageFor(model => model.IsPerRoom)
            </div>
        </div>
        <div class="col-md-12">

            <div class="editor-field">
                @Html.Label("Whole villa basis")
                <input type="checkbox" id="wholecheck" />
            </div>
        </div>
        <div id="Whole">
            <div class="col-md-4">
                <div class="editor-label">
                    @Html.LabelFor(model => model.WholePricePerDay)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WholePricePerDay)
                    @Html.ValidationMessageFor(model => model.WholePricePerDay)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    @Html.LabelFor(model => model.WholePricePerWeek)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WholePricePerWeek)
                    @Html.ValidationMessageFor(model => model.WholePricePerWeek)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    @Html.LabelFor(model => model.WholePricePerMonth)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WholePricePerMonth)
                    @Html.ValidationMessageFor(model => model.WholePricePerMonth)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    @Html.LabelFor(model => model.MaxHeadCount)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("MaxHeadCount", (SelectList)ViewBag.MaxHeadCount, htmlAttributes: new { @class = "col-sm-12" })
                    @Html.ValidationMessageFor(model => model.MaxHeadCount)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NoOfBedrooms)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("NoOfBedrooms", (SelectList)ViewBag.NoOfBedrooms, htmlAttributes: new { @class = "col-sm-12" })
                    @Html.ValidationMessageFor(model => model.NoOfBedrooms)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NoOfBathrooms)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("NoOfBathrooms", (SelectList)ViewBag.NoOfBathrooms, htmlAttributes: new { @class = "col-sm-12" })
                    @Html.ValidationMessageFor(model => model.NoOfBathrooms)
                </div>
            </div>
        </div>

        <div id="room">
            <div class="editor-label">
                @Html.LabelFor(model => model.PricePerRoom)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PricePerRoom)
                @Html.ValidationMessageFor(model => model.PricePerRoom)
            </div>

        </div>
        <div class="col-md-12">
            <div class="editor-label">
                @Html.Label("Select a District")
            </div>
            <div class="editor-field">
                @Html.DropDownList("DistrictId", (SelectList)ViewBag.DistrictId, String.Empty, new { @onchange = "javascript:GetCity(this.value);" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="editor-label">
                @Html.LabelFor(model => model.CityId, "City")
            </div>
            <div class="editor-field">
                @Html.DropDownList("CityId", String.Empty)
                @Html.ValidationMessageFor(model => model.CityId)
            </div>
        </div>
        <div class="col-md-6">
            @{int catId = 0;}
            @foreach (LankaBookin.Models.Facility item in ViewBag.Facilities)
            {
                if (catId != item.FacilityCategoryId)
                {
                    catId = item.FacilityCategoryId;
                <div class="col-md-12">
                    <h4>@item.FacilityCategory.FacilityCategoryName</h4>
                    <br />
                </div>
                }

                <div class="col-md-6">
                    <input type="checkbox" id="Fac@(item.Id)" name="Fac@(item.Id)" />
                    @item.FacilityName
                    <br />
                </div>

            }

        </div>

        <div class="col-md-6">
            <label>Set the Location</label>
            <div id="dvMap" style="width: 100%; height: 500px">
            </div>
        </div>

        @*<label for="file">Upload Profile Image</label>
        <input type="file" name="file" id="file" style="width:100px" />
        @Html.ValidationMessage("uploadMain")

        <div style="clear:both"></div>

        <img id="mainImage" src="#" alt="your image" style="width: 100px;height:100px"/>

        <div style="clear:both"></div>

        <label for="file">Click to Add Images:(Maxmimum 15 images)</label>

        <input type="file" id="uploadEditorImage" />

        <div style="clear:both"></div>

        <div id="divImage">
        </div>
        @Html.ValidationMessage("upload")

        <div style="clear:both"></div>*@
        <div class="col-md-12">
        <div class="col-md-2" >
            <input id="save" type="submit" value="Create" />
        </div>
            <div class="col-md-2 btn btn-info" style="margin-top:18px;">
    @Html.ActionLink("Back to List", "Index")
</div>
            </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script>

    //$('form').submit(function () {
    //    $('#save').attr('disabled', 'disabled');
    //});

    var map;

    var marker;

    window.onload = function () {
        geocoder = new google.maps.Geocoder();
        var mapOptions = {
            center: new google.maps.LatLng(6.6, 80.3),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var infoWindow = new google.maps.InfoWindow();
        var latlngbounds = new google.maps.LatLngBounds();
        map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
    }

    function codeAddress() {

        if (marker != null) {
            marker.setMap(null);
        }

        var address1 = document.getElementById("Address").value;
        var address2 = document.getElementById("Address2").value;
        var address = address1 + ' ' + address2;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    draggable: true,
                });

                document.getElementById('Lat').value = marker.getPosition().lat();
                document.getElementById('Lan').value = marker.getPosition().lng();
            }

            google.maps.event.addListener(marker, 'dragend', function (event) {
                document.getElementById('Lat').value = marker.getPosition().lat();
                document.getElementById('Lan').value = marker.getPosition().lng();
            });
        });
    }

    $(document).ready(function () {

        var namevalid = true;

        $('#Name').on('input propertychange paste', CheckValidApartmentName);

        function CheckValidApartmentName() {
            $.getJSON("/Apartment/CheckValidApartmentName", { name: $("#Name").val() },
              function (data, status) {
                  if (!data.valid) {
                      $('#nameVal').text('Apartment name is already in use');
                      namevalid = false;
                  }
                  else {
                      $('#nameVal').text('');
                      namevalid = true;
                  }
              }
          );
        }

        $("#Form").submit(function (e) {
            if ($(this).valid() && namevalid) {
                $('#save').attr('disabled', 'disabled');
                $(".submit-progress").removeClass("hidden");
                $("body").addClass("submit-progress-bg");
            }
            else {
                e.preventDefault();
                $('#save').removeAttr("disabled");
            }
        });

        $('#Whole').fadeIn('slow');
        $('#room').fadeOut('slow');
        $('#wholecheck').prop('checked', true);
        $('#IsPerRoom').prop('checked', false);

        $('#IsPerRoom').change(function () {
            if (this.checked) {
                $('#Whole').fadeOut('slow');
                $('#room').fadeIn('slow');
                $('#wholecheck').prop('checked', false);
            }
            else {
                $('#Whole').fadeIn('slow');
                $('#room').fadeOut('slow');
                $('#wholecheck').prop('checked', true);
            }

        });

        $('#wholecheck').change(function () {
            if (this.checked) {
                $('#Whole').fadeIn('slow');
                $('#room').fadeOut('slow');
                $('#IsPerRoom').prop('checked', false);
            }
            else {
                $('#Whole').fadeOut('slow');
                $('#room').fadeIn('slow');
                $('#IsPerRoom').prop('checked', true);
            }

        });

        $('#Address').change(function () {
            codeAddress();
        });

        $('#Address2').change(function () {
            codeAddress();
        });

    });

    function GetCity(_districtid) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#CityId").html(procemessage).show();
        var url = "/Apartment/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#CityId").html(markup).show();
            },
            error: function (reponse) {
            }
        });

    }

</script>



