﻿@model LankaBookin.Models.Apartment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}
<div class="col-md-12">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <p>&nbsp;</p>
    <div class="col-md-12">
        <div class="display-label">
            <label>@Html.DisplayNameFor(model => model.Name)</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
        </div>
    <div class="col-md-12">

        <div class="display-label">
            <label>@Html.DisplayNameFor(model => model.Rate)</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Rate)
        </div>
        </div>
    <div class="col-md-12">

        <div class="display-label">
            <label>@Html.DisplayNameFor(model => model.Address)</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Address)
        </div>
        </div>
    <div class="col-md-12">

        <div class="display-label">
            <label>@Html.DisplayNameFor(model => model.Address2)</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Address2)
        </div>
        </div>
    <div class="col-md-12">

        <div class="display-label">
            <label>@Html.DisplayNameFor(model => model.Description)</label>
        </div>
        <div class="display-field dis-i-d">
            @Html.DisplayFor(model => model.Description)
        </div>
</div>
    <div class="col-md-12">

        <div class="display-label">
            <label>@Html.DisplayNameFor(model => model.IsPerRoom)</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IsPerRoom)
        </div>
</div>
    <div class="col-md-12">

        <div class="display-label">
            <label>@Html.DisplayNameFor(model => model.MaxHeadCount)</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MaxHeadCount)
        </div>
</div>
    <div class="col-md-12">

        <div class="display-label">
            <label>@Html.DisplayNameFor(model => model.CityId)</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CityId)
        </div>


</div>

    @using (Html.BeginForm())
    {
        <div class="col-md-2">
            <input type="submit" value="Delete" />
            </div>
            <div class="col-md-2 btn btn-info b-t-l">
                @Html.ActionLink("Back to List", "Index")
            </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    }
</div>
