﻿@model LankaBookin.Models.Apartment

<fieldset>
    <legend>Apartment</legend>

    @{
        int counter = 1;
    }

    @foreach (var imgPath in Directory.GetFiles(Server.MapPath("~/Images/Apartment/" + Model.Name), "*.jpg"))
    {
        var img = new FileInfo(imgPath);
        <img class="img" src="@Url.Content(String.Format("~/Images/Apartment/{0}/{1}", Model.Name, img.Name))" id="img@(counter)" width="100" height="100" />
        counter++;
    }

    <div>
        @Html.DisplayFor(model => model.RefNo)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.IsPerRoom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPerRoom)
    </div>

    <@if (Model.IsPerRoom)
     {
        <div class="display-label">
            @Html.DisplayNameFor(model => model.PricePerRoom)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PricePerRoom)
        </div>
     }
     else
     {
        <div class="display-label">
            @Html.DisplayNameFor(model => model.WholePricePerDay)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.WholePricePerDay)
        </div>
                        
        <div class="display-label">
            @Html.DisplayNameFor(model => model.WholePricePerWeek)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.WholePricePerWeek)
        </div>
                        
        <div class="display-label">
            @Html.DisplayNameFor(model => model.WholePricePerMonth)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.WholePricePerMonth)
        </div>
                        
        <div class="display-label">
            @Html.DisplayNameFor(model => model.MaxHeadCount)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MaxHeadCount)
        </div>
                        
        <div class="display-label">
            @Html.DisplayNameFor(model => model.NoOfBathrooms)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NoOfBathrooms)
        </div>
                        
        <div class="display-label">
            @Html.DisplayNameFor(model => model.NoOfBedrooms)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NoOfBedrooms)
        </div>
     }

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CityId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityId)
    </div>

    <div>
        @{int catId = 0;}
        @foreach (LankaBookin.Models.Facility item in Model.Facilities)
        {
            if (catId != item.FacilityCategoryId)
            {
                catId = item.FacilityCategoryId;
            <div>
                <h4>@item.FacilityCategory.FacilityCategoryName</h4>
                <br />
            </div>
            }

            <div>
                @item.FacilityName
                <br />
            </div>

        }

    </div>

    <div>
        <label>Apartment Accomadations </label>
        @foreach (var acc in Model.Accomadations)
        {
            <div>
                @acc.AccomadationName
            </div>
        }

    </div>

</fieldset>
