﻿@model LankaBookin.Models.Apartment

<div id="wrapper">
    <!-- BEGIN PAGE TITLE/BREADCRUMB -->
    <div class="parallax colored-bg pattern-bg" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="page-title">Property Detail</h1>

                    <ul class="breadcrumb">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
@*                        <li>@Html.ActionLink("Property Listing", "Search", "Apartment")</li>*@
                        <li><a href="~/search/hotels-resorts-villas-sri-lanka">Property Listing</a></li>
                        <li><a href="#">Property Detail</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE TITLE/BREADCRUMB -->

    <div class="content detalis-bg">
        <div class="container">
            <div class="row">

                <!-- BEGIN MAIN CONTENT -->

                @if (!string.IsNullOrEmpty(ViewBag.TourName))
                {
                    <div class="container">
                        <p class="clearfix">&nbsp;</p>
                        <p class="req-detail-s">
                            <label>You are in Tour Mode</label><br />@Html.ActionLink("Cancel Tour Request", "CancelTour")<br />
                            <label>Tour @ViewBag.TourName</label><br />
                            <label>City @ViewBag.CityName</label>

                        </p>

                    </div>
                }

                <div class="col-md-12">
                    <h2 class="property-title">@Model.Name @*<small>@Model.Address @Model.Address2</small>*@</h2>
                </div>
                <div class="main col-sm-6">
                    <!-- BEGIN PROPERTY DETAIL SLIDERS WRAPPER -->
                    <div id="property-detail-wrapper" class="style1">

                        <div class="price">
                            <i class="fa fa-home"></i>Rating
								<span>
                                    <div class="Clearee">
                                        @for (int x = 1; x < 6; x++)
                                        {
                                            if (Model.Rate >= x)
                                            {
                                            <input class="auto-submit-star" type="radio" name="test-3A-rating-1" disabled="disabled" value="@(x)" checked="checked" />
                                            }
                                            else
                                            {
                                            <input class="auto-submit-star" type="radio" name="test-3A-rating-1" disabled="disabled" value="@(x)" />
                                            }
                                        }
                                    </div>
                                </span>
                        </div>

                        <!-- BEGIN PROPERTY DETAIL LARGE IMAGE SLIDER -->
                        <div id="property-detail-large" class="owl-carousel">

                            @if (Directory.Exists(Server.MapPath("~/Images/Apartment/" + Model.Name)))
                            {
                                foreach (var imgPath in Directory.GetFiles(Server.MapPath("~/Images/Apartment/" + Model.Name)))
                                {
                                    var img = new FileInfo(imgPath);
                                <div class="item">
                                    <img src="@Url.Content(String.Format("~/Images/Apartment/{0}/{1}", Model.Name, img.Name))" alt="@(img.Name)" title="@(Model.Name) Photo Gallery" />
                                </div>
                                }
                            }
                        </div>
                        <!-- END PROPERTY DETAIL LARGE IMAGE SLIDER -->

                        <!-- BEGIN PROPERTY DETAIL THUMBNAILS SLIDER -->
                        <div id="property-detail-thumbs" class="owl-carousel">
                            @if (Directory.Exists(Server.MapPath("~/Images/Apartment/" + Model.Name)))
                            {
                                foreach (var imgPath in Directory.GetFiles(Server.MapPath("~/Images/Apartment/" + Model.Name)))
                                {
                                    var img = new FileInfo(imgPath);
                                <div class="item">
                                    <img src="@Url.Content(String.Format("~/Images/Apartment/{0}/{1}", Model.Name, img.Name))" alt="@(img.Name)" title="@(Model.Name) Photo Gallery" />
                                </div>
                                }
                            }
                        </div>
                        <!-- END PROPERTY DETAIL THUMBNAILS SLIDER -->
                    </div>
                </div>
                <div class="col-md-6">
                    
                        <div class="btn btn-primary link-c-n">
                            @Html.ActionLink("Add to Wish List", "WishList", new { id = Model.Id })
                        </div>

                        <div >
                            @*@Html.ActionLink("View Map", "ViewMap", new { id = Model.Id })*@
                            <a href="@Url.Action("map", Model.Name.Replace(" ", "-").ToLower(), new { id = Model.Id })" class="btn btn-primary link-c-n">
                                        View Map
                                    </a>
                        </div>

                        <div class="btn btn-danger link-c-n">
                            @Html.ActionLink("Request to Book", "Create", "BookingRequest", new { id = Model.Id }, null)
                        </div>
                    <div class="clearfix"></div>
                        <div class="btn btn-info link-c-n"><a href="~/search/hotels-resorts-villas-sri-lanka">Back</a></div>
                    
                    <div class="section-border">

                        @if (Model.IsPerRoom)
                        {
                            if (Model.PricePerRoom > 0)
                            {
                            <div class="item-pro">
                                <p class="display-label">
                                    @Html.DisplayNameFor(model => model.PricePerRoom)
                                </p>
                                <p class="display-field">
                                   @Html.DisplayFor(model => model.PricePerRoom) &nbsp&nbsp     
                                   @(string.Format("Rs {0:#,##0.##}", @Model.PricePerRoom * Convert.ToDecimal(@ViewBag.lkrValue)))               
                                </p>
                                <div class="seperator"></div>
                            </div>
                            }
                        }
                        else
                        {
                            if (Model.WholePricePerDay > 0)
                            {
                            <div class="item-pro">
                                <p class="display-label">
                                    @Html.DisplayNameFor(model => model.WholePricePerDay)
                                </p>
                                <p class="display-field">
                                    @Html.DisplayFor(model => model.WholePricePerDay) &nbsp&nbsp
                                    @(string.Format("Rs {0:#,##0.##}",@Model.WholePricePerDay * Convert.ToDecimal(@ViewBag.lkrValue))) 
                                </p>                               
                                <div class="seperator"></div>
                            </div>
                            }

                            if (Model.WholePricePerWeek > 0)
                            {
                            <p class="display-label">
                                @Html.DisplayNameFor(model => model.WholePricePerWeek)
                            </p>
                            
                            <p class="display-field">
                                @Html.DisplayFor(model => model.WholePricePerWeek) &nbsp&nbsp
                                @(string.Format("Rs {0:#,##0.##}",@Model.WholePricePerWeek * Convert.ToDecimal(@ViewBag.lkrValue))) 
                            </p>
                        
                        
                            }

                            if (Model.WholePricePerMonth > 0)
                            {
                            <p class="display-label">
                                @Html.DisplayNameFor(model => model.WholePricePerMonth)
                            </p>
                            <p class="display-field">
                                @Html.DisplayFor(model => model.WholePricePerMonth) &nbsp&nbsp
                                @(string.Format("Rs {0:#,##0.##}",@Model.WholePricePerMonth * Convert.ToDecimal(@ViewBag.lkrValue))) 
                            </p>
                       
                            }


                            <p>&nbsp;</p>


                            if (Model.MaxHeadCount > 0)
                            {
                            <div class="property-box">
                                <p class="display-field">
                                    <label>@string.Format("Sleeps {0:00}", Model.MaxHeadCount)</label>
                                </p>
                            </div>
                        
                            }

                            if (Model.NoOfBathrooms > 0)
                            {
                            <div class="property-box">
                                <p class="display-field">
                                   <label>@string.Format("Bathrooms {0:00}", Model.NoOfBathrooms)</label>
                                </p>
                            </div>
                        
                            }

                            if (Model.NoOfBedrooms > 0)
                            {
                            <div class="property-box">
                                <p class="display-field">
                                    <label>@string.Format("Bedrooms {0:00}", Model.NoOfBedrooms)</label>
                                </p>
                            </div>
                        
                            }
                        }

                    </div>
                    <div class="section-border">
                        <h2 class="section-title">Provided Accomadation Types</h2>

                        <ul class="property-features col-sm-6">
                            @foreach (var acc in Model.Accomadations)
                            {
                                <li>
                                    @acc.AccomadationName
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="section-border">
                        <p>
                            @Html.DisplayFor(model => model.Description)
                        </p>
                    </div>
                </div>

                <div class="main col-sm-12">
                    <div class="section-border">
                        <h2>Amenities</h2>
                        <div class="seperator"></div>

                        <div class="block-sec-amenities col-md-2">  

                        <div class="facility-h">
                             <h4>General</h4>
                        </div>

                        @foreach (LankaBookin.Models.Facility item in Model.Facilities.Where(f => f.FacilityCategoryId == 1))
                        {
                            <div class="three-col-list amenties-col-two">
                                    <span>
                                        @item.FacilityName
                                    </span>
                            </div>
                        }

                        </div>

                        <div class="block-sec-amenities">  

                        <div class="facility-h">
                             <h4>Outdoor and Internet</h4>
                        </div>

                        @foreach (LankaBookin.Models.Facility item in Model.Facilities.Where(f => f.FacilityCategoryId == 2))
                        {
                            <div class="three-col-list amenties-col-two">
                                    <span>
                                        @item.FacilityName
                                    </span>
                            </div>
                        }

                        </div>

                        <div class="block-sec-amenities">  

                        <div class="facility-h">
                             <h4>Property</h4>
                        </div>

                        @foreach (LankaBookin.Models.Facility item in Model.Facilities.Where(f => f.FacilityCategoryId == 3))
                        {
                            <div class="three-col-list amenties-col-two">
                                    <span>
                                        @item.FacilityName
                                    </span>
                            </div>
                        }

                        </div>

                        <div class="block-sec-amenities">  

                        <div class="facility-h">
                             <h4>Kitchen</h4>
                        </div>

                        @foreach (LankaBookin.Models.Facility item in Model.Facilities.Where(f => f.FacilityCategoryId == 4))
                        {
                            <div class="three-col-list amenties-col-two">
                                    <span>
                                        @item.FacilityName
                                    </span>
                            </div>
                        }

                        </div>

                        <div class="block-sec-amenities">  

                        <div class="facility-h">
                             <h4>Entertainment</h4>
                        </div>

                        @foreach (LankaBookin.Models.Facility item in Model.Facilities.Where(f => f.FacilityCategoryId == 5))
                        {
                            <div class="three-col-list amenties-col-two">
                                    <span>
                                        @item.FacilityName
                                    </span>
                            </div>
                        }

                        </div>


                    </div>
                    



                    @if (Request.IsAuthenticated)
                    {
                        int rate = 0;
                        if (ViewBag.UserRate != null)
                        {
                            rate = Convert.ToInt32(ViewBag.UserRate);
                        }
                        <div class="section-border">
                            <h3>Log in to rate this property</h3>
                        <div class="Clear">
                            @for (int y = 1; y < 6; y++)
                            {
                                if (rate == y)
                                {
                                <input class="auto-submit-star" type="radio" name="test-3A-rating-2" value="@(y)" checked="checked" />
                                }
                                else
                                {
                                <input class="auto-submit-star" type="radio" name="test-3A-rating-2" value="@(y)" />
                                }
                            }
                        </div>
                        </div>
                    }
                    else
                    {
                        <div class="section-border">
                            <h3>Log in to rate this property</h3>

                            <input class="auto-submit-star" type="radio" name="test-3A-rating-3" value="1" disabled="disabled" />
                            <input class="auto-submit-star" type="radio" name="test-3A-rating-3" value="2" disabled="disabled" />
                            <input class="auto-submit-star" type="radio" name="test-3A-rating-3" value="3" disabled="disabled" />
                            <input class="auto-submit-star" type="radio" name="test-3A-rating-3" value="4" disabled="disabled" />
                            <input class="auto-submit-star" type="radio" name="test-3A-rating-3" value="5" disabled="disabled" />
                        </div>
                       
                    }


                 

                </div>

                <div class="col-md-12">
                    <div class="section-border">
                        <h2 class="section-title">Recent Reviews</h2>

                        <ul class="review-sec col-sm-6">
                            @foreach (var acc in Model.Reviews.OrderByDescending(r => r.ModifiedDate).Take(5))
                            {
                                <div class="review-name">
                                    <span class="comment">
                                        <i class="fa fa-comments"></i>
                                    </span>
                                    @acc.User.UserName
                                    <p>@acc.CreatedDate</p>
                                </div>
                                <li class="review-note margin-l">

                                    @acc.ReviewNote
                                </li>
                            }
                        </ul>
                        @using (Html.BeginForm("AddReview", "Apartment", new { id = Model.Id }))
                        {
                            <div class="review-textarea">
                                @Html.TextArea("review")
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default-color">Save</button>
                            </div>
                        }

                    </div>
                </div>

            </div>
            <div class="clearfix">&nbsp</div>
        </div>
    </div>
    <script>
        $(function () {
            $('.auto-submit-star').rating({
                callback: function (value, link) {
                    $.getJSON("/Apartment/AddRating", { rate: value, apartment: '@Model.Id' },
                 function (data) {
                     //alert('Sucessfully rated')
                 }
               );
                }
            });
        });

    </script>
