﻿@model LankaBookin.Models.Apartment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

@{
    int counter = 1;
}

<div class="submit-progress hidden">

    <label>Please wait while Saving Data...</label>

</div>

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Apartment", FormMethod.Post,
                            new { enctype = "multipart/form-data", id = "Form" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Apartment</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Deleted)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDate)
        @Html.HiddenFor(model => model.MainImagePath)
        @Html.HiddenFor(model => model.RefNo)
        @Html.HiddenFor(model => model.Rate)
        @Html.HiddenFor(model => model.Name)

        @Html.HiddenFor(model => model.Lan, new { id = "Lan" })
        @Html.HiddenFor(model => model.Lat, new { id = "Lat" })
        <div class="col-sm-6 no-padding">
            <div class="editor-label">
                @Html.LabelFor(model => model.RefNo)
            </div>
            <div class="editor-field">
                @Model.RefNo
            </div>
        </div>
        <div class="col-sm-6 no-padding">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Model.Name
            </div>
        </div>
        <div class="col-md-6">
            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="col-md-6">
            <div class="editor-label">
                @Html.LabelFor(model => model.Address2)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address2)
                @Html.ValidationMessageFor(model => model.Address2)
            </div>
        </div>
        <div class="col-md-12">
            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>

            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="col-md-12">
            <div class="editor-field">
                @Html.LabelFor(model => model.IsPerRoom)
                @Html.EditorFor(model => model.IsPerRoom)
                @Html.ValidationMessageFor(model => model.IsPerRoom)
            </div>
        </div>

        <div class="col-md-12">
            <div class="editor-field">
                @Html.Label("Whole villa basis")
                <input type="checkbox" id="wholecheck" />
            </div>
        </div>
        <div id="Whole">
            <div class="col-md-4">
                <div class="editor-label">
                    @Html.LabelFor(model => model.WholePricePerDay)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WholePricePerDay)
                    @Html.ValidationMessageFor(model => model.WholePricePerDay)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    @Html.LabelFor(model => model.WholePricePerWeek)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WholePricePerWeek)
                    @Html.ValidationMessageFor(model => model.WholePricePerWeek)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    @Html.LabelFor(model => model.WholePricePerMonth)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WholePricePerMonth)
                    @Html.ValidationMessageFor(model => model.WholePricePerMonth)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    @Html.LabelFor(model => model.MaxHeadCount)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MaxHeadCount)
                    @Html.ValidationMessageFor(model => model.MaxHeadCount)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NoOfBedrooms)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NoOfBedrooms)
                    @Html.ValidationMessageFor(model => model.NoOfBedrooms)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NoOfBathrooms)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NoOfBathrooms)
                    @Html.ValidationMessageFor(model => model.NoOfBathrooms)
                </div>
            </div>
        </div>


        <div id="room">
            <div class="col-md-12">
                <div class="editor-label">
                    @Html.LabelFor(model => model.PricePerRoom)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PricePerRoom)
                    @Html.ValidationMessageFor(model => model.PricePerRoom)
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="editor-label">
                @Html.LabelFor(model => model.CityId)
            </div>
            <div class="editor-field">
                @Html.DropDownList("CityId", string.Empty)
                @Html.ValidationMessageFor(model => model.CityId)
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="col-md-12">
            <label>Select Accomadation Type </label>
            @foreach (var accomadationType in ViewBag.AccomadationTypes)
            {
                <input type="checkbox" name="selectedAccomadationTypes" id="Acc@(accomadationType.Id)" value="@(accomadationType.Id)" @(Html.Raw(accomadationType.Apartments.Contains(Model) ? "checked=\"checked\"" : "")) />
                @accomadationType.AccomadationName 
            }

        </div>
        <div>&nbsp;</div>
        <div class="col-md-12">
            <label>Select Apartment Facilities </label>
            @foreach (var facility in ViewBag.Facilities)
            {
                <div class="col-sec-two">
                    <input type="checkbox" name="selectedFacilities" id="Fac@(facility.Id)" value="@(facility.Id)"  @(Html.Raw(facility.Apartments.Contains(Model) ? "checked=\"checked\"" : "")) />
                    @facility.FacilityName
                </div>
            }

        </div>
        <div>&nbsp;</div>
        <div class="col-md-6">
            <label for="file">Upload Profile Image</label>
            <input type="file" name="file" id="file" />

            <div style="clear: both">&nbsp;</div>

            <div id="mainImage">

                @{
            if (!string.IsNullOrEmpty(Model.MainImagePath))
            {
                var img = new FileInfo(Model.MainImagePath);
                    <img class="img-sec" src="@Url.Content(String.Format("~/Images/Apartment/{0}/{1}", Model.Name, img.Name))" id="Main" width="100" height="100" />
            }
                }
            </div>


            <div style="clear: both">&nbsp;</div>

            <label for="file">Click to Add Images:(Maxmimum 15 images)</label>

            <input type="file" id="Images" />

            <div style="clear: both"></div>

            <div id="divImage">

                @if (Directory.Exists(Server.MapPath("~/Images/Apartment/" + Model.Name)))
                {
                    foreach (var imgPath in Directory.GetFiles(Server.MapPath("~/Images/Apartment/" + Model.Name)))
                    {
                        if (imgPath == Model.MainImagePath)
                        {
                            continue;
                        }

                        var img = new FileInfo(imgPath);
                    <img class="img-sec" src="@Url.Content(String.Format("~/Images/Apartment/{0}/{1}", Model.Name, img.Name))" id="@(counter)" width="100" height="100" />
                        counter++;
                    }
                }

            </div>
        </div>
        <div class="col-md-6">
            <div>
                <label>Change the Location</label>
                <div id="dvMap" style="width: 100%; height: 500px">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <input type="submit" id="save" value="Save" />
        </div>
        <div class="col-md-2 btn btn-info" style="margin-top: 18px;">
            @Html.ActionLink("Back to List", "Index")
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </fieldset>
}



<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script>

    var map;

    var marker;

    window.onload = function () {
        geocoder = new google.maps.Geocoder();
        var mapOptions = {
            center: new google.maps.LatLng(6.6, 80.3),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var infoWindow = new google.maps.InfoWindow();
        var latlngbounds = new google.maps.LatLngBounds();
        map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
        drawLocation();
    }

    function drawLocation() {
        var lat = document.getElementById('Lat').value;
        var lan = document.getElementById('Lan').value;
        if (lat != ' ' && lan != ' ') {
            var markerPos = new google.maps.LatLng(lat, lan);
            marker = new google.maps.Marker({
                map: map,
                position: markerPos,
                draggable: true,
            });

            google.maps.event.addListener(marker, 'dragend', function (event) {
                document.getElementById('Lat').value = marker.getPosition().lat();
                document.getElementById('Lan').value = marker.getPosition().lng();
            });

        }
    }

    function codeAddress() {

        if (marker != null) {
            marker.setMap(null);
        }

        var address1 = document.getElementById("Address").value;
        var address2 = document.getElementById("Address2").value;
        var address = address1 + ' ' + address2;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    draggable: true,
                });

                document.getElementById('Lat').value = marker.getPosition().lat();
                document.getElementById('Lan').value = marker.getPosition().lng();
            }

            google.maps.event.addListener(marker, 'dragend', function (event) {
                document.getElementById('Lat').value = marker.getPosition().lat();
                document.getElementById('Lan').value = marker.getPosition().lng();
            });
        });
    }

    $(document).ready(function () {

        var namevalid = true;

        $('#Name').on('input propertychange paste', CheckValidApartmentName);

        function CheckValidApartmentName() {
            $.getJSON("/Apartment/CheckValidApartmentName", { name: $("#Name").val() },
              function (data, status) {
                  if (!data.valid) {
                      $('#nameVal').text('Apartment name is already in use');
                      namevalid = false;
                  }
                  else {
                      $('#nameVal').text('');
                      namevalid = true;
                  }
              }
          );
        }

        $("#Form").submit(function (e) {
            if ($(this).valid() && namevalid) {
                $('#save').attr('disabled', 'disabled');
                $(".submit-progress").removeClass("hidden");
                $("body").addClass("submit-progress-bg");
            }
            else {
                e.preventDefault();
                $('#save').removeAttr("disabled");
            }
        });

        $('.img-sec').click(function (event) {
            if (confirm('Are you sure you want to delete this image')) {
                var item = $(event.target).attr('src')
                var id = event.target.id;
                $.getJSON("/Apartment/DeleteImage", { imagePath: item },
                  function (data, status) {
                      $('#' + id).hide();
                  }
                );
            }
        });

        if (document.getElementById('IsPerRoom').checked) {
            $('#Whole').fadeOut('slow');
            $('#room').fadeIn('slow');
            $('#wholecheck').prop('checked', false);
        }
        else {
            $('#Whole').fadeIn('slow');
            $('#room').fadeOut('slow');
            $('#wholecheck').prop('checked', true);
        }

        $('#IsPerRoom').change(function () {
            if (this.checked) {
                $('#Whole').fadeOut('slow');
                $('#room').fadeIn('slow');
                $('#wholecheck').prop('checked', false);
            }
            else {
                $('#Whole').fadeIn('slow');
                $('#room').fadeOut('slow');
                $('#wholecheck').prop('checked', true);
            }

        });

        $('#wholecheck').change(function () {
            if (this.checked) {
                $('#Whole').fadeIn('slow');
                $('#room').fadeOut('slow');
                $('#IsPerRoom').prop('checked', false);
            }
            else {
                $('#Whole').fadeOut('slow');
                $('#room').fadeIn('slow');
                $('#IsPerRoom').prop('checked', true);
            }

        });

        $('#Address').change(function () {
            codeAddress();
        });

        $('#Address2').change(function () {
            codeAddress();
        });

    });

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#Main').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#file").change(function () {
        readURL(this);
    });

    $("#Images").change(function () {
        $(".submit-progress").removeClass("hidden");
        $("body").addClass("submit-progress-bg");
        var data = new FormData();
        var files = $("#Images").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }

        var aprt =@(Model.Id)

        data.append("id", aprt);

        var url = "/Apartment/UploadImagesAsync/";

        $.ajax({
            url: url,
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (fullPath) {
                if (fullPath != '') {
                    var oImg = document.createElement("img");
                    oImg.setAttribute("id", '@(counter)');
                    oImg.setAttribute("width", "100px");
                    oImg.setAttribute("height", "100px");
                    oImg.onclick = function () {
                        if (confirm('Are you sure you want to delete this image')) {
                            var id = event.target.id;
                            var item = $(event.target).attr('src');
                            $.getJSON("/Apartment/DeleteImage", { imagePath: item },
                              function (data, status) {
                                  $('#' + id).hide();
                              }
                            );
                        }
                    };

                    oImg.setAttribute('src', fullPath);
                    $("#divImage").append(oImg);
                    $("#Images").val("");
                    @(counter++)
                }
                $(".submit-progress").addClass("hidden");
                $("body").removeClass("submit-progress-bg");
            },
            error: function (er) {
                alert('Error Uploading Image');
                $(".submit-progress").addClass("hidden");
                $("body").removeClass("submit-progress-bg");
            }

        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
