﻿@model IEnumerable<LankaBookin.Models.Apartment>
@using GridMvc.Html

@{
    ViewBag.Title = "Apartment List";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<div class="clearfix">&nbsp;</div>
<div class="btn btn-danger link-c-n">
    @Html.ActionLink("Create New", "Create")
</div>


@Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.Name).Titled("Apartment Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.RefNo).Titled("RefNo").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Rate).Titled("Rating").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.City.CityName).Titled("City").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("View", "InternalDetails", "Apartment", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Update AvailableDates", "UpdateDates", "Apartment", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());
              columns.Add().Titled("Actions").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", "Apartment", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-success" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Delete", "Delete", "Apartment", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-danger modal-link" }).ToHtmlString());

          }).WithPaging(10)

    
              