﻿
@model PagedList.IPagedList<LankaBookin.Models.Apartment>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<!-- BEGIN PAGE TITLE/BREADCRUMB -->
<div class="parallax colored-bg pattern-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title">Property Listing</h1>

                <ul class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="#">Property Listing</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE TITLE/BREADCRUMB -->

<div class="content">
    <div class="container">
        <div class="row">

            <!-- BEGIN MAIN CONTENT -->
            <div class="main col-sm-8">

                <div id="listing-header" class="clearfix">
                    @*                    <div class="view-mode">
                        <span>View Mode:</span>
                        <ul>
                            <li data-view="grid-style1" data-target="property-listing"><i class="fa fa-th"></i></li>
                            <li data-view="list-style" data-target="property-listing" class="active"><i class="fa fa-th-list"></i></li>
                        </ul>
                    </div>*@
                </div>

                @if (!string.IsNullOrEmpty(ViewBag.TourName))
                {
                    <label>You are in Tour Mode</label><br />@Html.ActionLink("Cancel Tour Request", "CancelTour")<br />
                    <label>Tour @ViewBag.TourName</label><br />
                    <label>City @ViewBag.CityName</label>
                }

                <!-- BEGIN PROPERTY LISTING -->
                <div id="property-listing" class="list-style clearfix">
                    <div class="row">

                        @foreach (var item in Model)
                        {

                            <div class="item col-md-4">
                                <!-- Set width to 4 columns for grid view mode only -->

                                <div class="image">
                                    <a href="@Url.Action("property_detail", item.Name.Replace(" ", "-").ToLower(), new { id = item.Id })" class="info">
                                        <h3>Details</h3>
                                    </a>

                                    @{
                            if (!string.IsNullOrEmpty(item.MainImagePath))
                            {
                                var img = new FileInfo(item.MainImagePath);
                                        <img class="img" src="@Url.Content(String.Format("~/Images/Apartment/{0}/{1}", item.Name, img.Name))" alt="@(img.Name)" title="@(item.Name)" />
                            }
                            else
                            {
                                        <img class="img" src="@Url.Content("~/Images/noimage.jpg")"  alt="No_Image_Available" />
                                        
                                        
                                        
                            }
                                    }
                  
                                </div>
                                                  <div class="reviews-req">
                                    <div class="btn btn-danger link-c-n r-btn">
                                        @Html.ActionLink("Request to Book", "Create", "BookingRequest", new { id = item.Id }, null)
                                    </div>
                                    
                                    <div>
                                        @if (item.Reviews.Count > 0)
                                        {
                                            <a href="@Url.Action("property_detail", item.Name.Replace(" ", "-").ToLower(), new { id = item.Id })" class="btn btn-danger link-c-n review-btn">Reviews : @item.Reviews.Count</a>
                                        }
                                        else
                                        {
                                            <p class="btn btn-danger link-c-n review-btn" style="cursor:default">No Reviews</p>
                                        }
                                    </div>
                                        </div>
                                <div class="price">
                                    <i class="fa fa-home"></i>User Rating
                                    
                                        <div class="Clear">
                                            @for (int x = 1; x < 6; x++)
                                            {
                                                if (item.Rate >= x)
                                                {
                                                <input class="auto-submit-star" type="radio" name="test-3A-rating-@(item.Id)" disabled="disabled" value="@(x)" checked="checked" />
                                                }
                                                else
                                                {
                                                <input class="auto-submit-star" type="radio" name="test-3A-rating-@(item.Id)" disabled="disabled" value="@(x)" />
                                                }
                                            }
                                        </div>
                                    
                                </div>
                            </div>
                            <div class="item col-md-8">
                                <div class="info">
                                    <h3>
                                        <a href="@Url.Action("property_detail", item.Name.Replace(" ", "-").ToLower(), new { id = item.Id })">@item.Name</a>
                                        @*<small>@item.Address @item.Address2</small>*@
                                    </h3>
                                    <div id="info">
                                        @if (item.IsPerRoom)
                                        {
                                            <p class="item-property-fn"><i class="fa fa-puzzle-piece fa-icon-space"></i>Per room per night</p>
                                            <p class="item-property-fl price-p" ><i class="fa fa-money fa-icon-space"></i>$ @item.PricePerRoom</p>
                                           if (!string.IsNullOrEmpty(@ViewBag.lkrValue) && item.PricePerRoom != null)
                                            {
                                            <p class="item-property-fl i-p-m-r-no price-p"><i class="fa fa-money fa-icon-space"></i>@(string.Format("Rs {0:#,##0.##}", @item.PricePerRoom * Convert.ToDecimal(@ViewBag.lkrValue)))</p>
                                            }
                                        }
                                        else
                                        {
                                            <p class="item-property-fn"><i class="fa fa-puzzle-piece fa-icon-space"></i>Whole property per night</p>
                                            <p class="item-property-fl price-p"><i class="fa fa-money fa-icon-space"></i>$ @item.WholePricePerDay </p>
                                            if (!string.IsNullOrEmpty(@ViewBag.lkrValue) && item.WholePricePerDay != null)
                                            {
                                            <p class="item-property-fl i-p-m-r-no price-p"><i class="fa fa-money fa-icon-space"></i>@(string.Format("Rs {0:#,##0.##}", @item.WholePricePerDay * Convert.ToDecimal(@ViewBag.lkrValue)))</p>
                                            }
                                            <p class="item-property-fl"><i class="fa fa-bed fa-icon-space"></i>@string.Format("Bedrooms {0:00}", item.NoOfBedrooms)</p>
                                            <p class="item-property-fl i-p-m-r-no"><i class="fa fa-user fa-icon-space"></i>@string.Format("Sleeps {0:00}", @item.MaxHeadCount)</p>
                                        }
                                        <p class="item-property-fn"><i class="fa fa-puzzle-piece fa-icon-space"></i>@item.City.CityName</p>
                                        <p class="clearfix">&nbsp;</p>
                                        @if (!string.IsNullOrEmpty(item.Description))
                                        {
                                            if (item.Description.Count() > 250)
                                            {
                                            <p>@string.Format("{0}...", @item.Description.Substring(0, 250))</p>
                                            <a href="@Url.Action("property_detail", item.Name.Replace(" ", "-").ToLower(), new { id = item.Id })" class="btn btn-primary">More</a>
                                            }
                                            else
                                            {
                                            <p>@item.Description</p>
                                            <a href="@Url.Action("property_detail", item.Name.Replace(" ", "-").ToLower(), new { id = item.Id })" class="btn btn-primary">More</a>
                                            }
                                        }
                                    </div>



                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            
                           

                        }



                    </div>
                </div>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Search", new { page, currentFilter = ViewBag.CurrentFilter }))

                <!-- END PROPERTY LISTING -->

            </div>
            <!-- END MAIN CONTENT -->
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar gray col-sm-4">

                <!-- BEGIN ADVANCED SEARCH -->
                <h2 class="section-title-h">Search Property</h2>
                @using (Html.BeginForm("Search", "Apartment", FormMethod.Post, new { id = "form" }))
                {
                    <div class="form-group">

                        @Html.Hidden("minPrice", "")
                        @Html.Hidden("maxPrice", "")

                        <div>

                            <div class="p-b-t">
                                @Html.TextBox("search", "Search By Name", htmlAttributes: new { @class = "form-control" })
                            </div>

                            <div class="p-b-t-d">
                                @Html.DropDownList("districtId", (SelectList)ViewBag.Districts, "Search By District", new { @onchange = "javascript:GetCity(this.value);" })
                            </div>

                            <div class="p-b-t-d">
                                @Html.DropDownList("cityId", (SelectList)ViewBag.CityId, "Search By City", htmlAttributes: new { @class = "col-sm-12" })
                            </div>
                            <div class="clearfix"></div>
                            <div class="p-b-t">
                                <label>Check-In</label>
                                @Html.TextBox("checkin", "", htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="clearfix"></div>
                            <div class="p-b-t">
                                <label>Check-Out</label>
                                @Html.TextBox("checkout", "", htmlAttributes: new { @class = "form-control" })
                            </div>

                            <div class="p-b-t-d">
                                @Html.DropDownList("no_rooms", (SelectList)ViewBag.no_rooms, "Number of Rooms", htmlAttributes: new { @class = "col-sm-12" })
                            </div>

                            <div class="p-b-t-d">
                                @Html.DropDownList("search_prop_type", (SelectList)ViewBag.AccomadationTypes, "Type of Property", htmlAttributes: new { @class = "col-sm-12" })
                            </div>

                            @{
                    List<LankaBookin.Models.Facility> facilities = ViewBag.Facilities;
                    List<LankaBookin.Models.Facility> preFacilities = ViewBag.PreFacilities;

                            }
                            <div class="clearfix">&nbsp;</div>
                            <div>
                                <p>
                                    <label>Key Amenities</label>
                                </p>

                                @foreach (LankaBookin.Models.Facility item in facilities.Where(f => f.Priority == 1))
                                {
                                    if (preFacilities != null && preFacilities.Count > 0 && preFacilities.Contains(item))
                                    {
                                    <div class="amenities">
                                        <input type="checkbox" id="Fac@(item.Id)" name="Fac@(item.Id)" checked="checked" />
                                        @item.FacilityName

                                    </div>
                                    }
                                    else
                                    {
                                    <div class="amenities">
                                        <input type="checkbox" id="Fac@(item.Id)" name="Fac@(item.Id)" />
                                        @item.FacilityName
                                    </div>
                                    }



                                }

                            </div>
                            <p class="clearfix">&nbsp;</p>
                            <div>
                                <p>
                                    <label>Other key features</label>
                                </p>

                                @foreach (LankaBookin.Models.Facility item in facilities.Where(f => f.Priority == 2))
                                {
                                    if (preFacilities != null && preFacilities.Count > 0 && preFacilities.Contains(item))
                                    {
                                    <div class="amenities">
                                        <input type="checkbox" id="Fac@(item.Id)" name="Fac@(item.Id)" checked="checked" />
                                        @item.FacilityName
                                    </div>
                                    }
                                    else
                                    {
                                    <div class="amenities">
                                        <input type="checkbox" id="Fac@(item.Id)" name="Fac@(item.Id)" />
                                        @item.FacilityName
                                    </div>
                                    }


                                }
                            </div>

                        </div>

                        @*                        <div>
                            @Html.DropDownList("minPrice", (SelectList)ViewBag.minPrice, "Minimum Price", htmlAttributes: new { @class = "col-sm-12" })
                        </div>

                        <div>
                            @Html.DropDownList("maxPrice", (SelectList)ViewBag.maxPrice, "Maximum Price", htmlAttributes: new { @class = "col-sm-12" })
                        </div>*@
                        <div class="clearfix">&nbsp;</div>
                        <p>
                            <label for="amount">Price range:</label>
                            <input type="text" id="amount" readonly="true" style="border: 0; color: #438e29; font-weight: bold;">
                        </p>

                        <div id="slider-range"></div>
                        <div class="cleafix">&nbsp;</div>
                        <p>
                            <button type="submit" id="searchb" class="btn btn-default-color">Search</button>
                        </p>

                    </div>
                }
                <!-- END ADVANCED SEARCH -->

            </div>
            <!-- END SIDEBAR -->

        </div>
    </div>
</div>

<script>

    if (jQuery.ui) {
        //alert('d');
    }

    $(document).ready(function () {
        $("#searchb").click(function (e) {

            e.preventDefault();

            var city, district, searchterm = '';
            district = $("#districtId option:selected").text();
            city = $("#cityId option:selected").text();

            districtId = $("#districtId option:selected").val();
            cityId = $("#cityId option:selected").val();

            var isCity = false;
            var isDis = false;

            if (cityId > 0) {
                searchterm = city.toLowerCase();
                isCity = true;
            }
            else if (districtId > 0) {
                searchterm = district.toLowerCase();
                isDis = true;
            }

            var form = $("#form");
            if (isCity) {
                form.attr("action", "hotels-resorts-villas-" + searchterm + "-sri-lanka?cityId=" + cityId);
            }
            else if (isDis) {
                form.attr("action", "hotels-resorts-villas-" + searchterm + "-sri-lanka?districtId=" + districtId);
            }
            else {
                form.attr("action", "hotels-resorts-villas-sri-lanka");
            }

            form.submit();
        });
    });

    document.onreadystatechange = function () {
        if (document.readyState === 'complete') {
            $("#cityId_chzn").hide();
            $("#districtId_chzn").hide();
            $("#cityId").show();
            $("#districtId").show();
        }
    }

    $("#checkout").datepicker({ minDate: 0, });
    $("#checkin").datepicker({ minDate: 0, });

    $(function () {
        $('.auto-submit-star').rating();

        var min = document.getElementById('minPrice').value;
        var max = document.getElementById('maxPrice').value;

        if (min <= 0) {
            min = 10;
        }

        if (max <= 0) {
            max = 1000;
        }

        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 2000,
            values: [min, max],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                document.getElementById('minPrice').value = $("#slider-range").slider("values", 0);
                document.getElementById('maxPrice').value = $("#slider-range").slider("values", 1);
            }
        });

        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

    });

    function GetCity(_districtid) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#cityId").html(procemessage).show();
        var url = "/Apartment/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#cityId").html(markup).show();
            },
            error: function (reponse) {
            }
        });

        $("#cityId_chzn").hide();
        $("#districtId_chzn").hide();

        $("#cityId").show();
        $("#districtId").show();

    }

</script>


