﻿@model LankaBookin.Models.Apartment


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<script>
    $(document).ready(function () {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
            },
            defaultDate: '2015-06-30',
            selectable: false,
            eventColor: '#378006',
            eventOverlap: false,
            allDayDefault:true,
            dayClick: function(date, jsEvent, view) {
                var title ='booked';
                var eventData;
                eventData = {
                    id: date,
                    title: title,
                    start: date,
                    end: date,
                    allDay:true
                };
               var url = "/Apartment/UpdateAvailableDates/";
               var aprt = '@Model.Id';
               var se = moment(date).format('YYYY MM DD');
                $.ajax({
                    url: url,
                    data: { dat: se, id: aprt,booked:true },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        if (data) {
                            $('#calendar').fullCalendar('removeEvents', date)
                            $('#calendar').fullCalendar('renderEvent', eventData, true);
                            $('#calendar').fullCalendar('unselect');
                        }
                    },
                    error: function (reponse) {
                    }
                });

            },
            eventClick: function (calEvent, jsEvent, view) {

                var url = "/Apartment/UpdateAvailableDates/";
                var aprt = '@Model.Id';
                var se = moment(calEvent.start).format('YYYY MM DD');
                $.ajax({
                    url: url,
                    data: { dat: se, id: aprt, booked: false },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        if (data) {
                            $('#calendar').fullCalendar('removeEvents', calEvent.id)
                        }
                    },
                    error: function (reponse) {
                    }
                });

            },
            events: function (start, end, timezone, callback) {
                var starte = moment(start).format('YYYY MM DD');
                var ende = moment(end).format('YYYY MM DD');

                var aprt = '@Model.Id';
                var url = "/Apartment/LoadAvailableDates/";
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        start: starte,
                        end: ende,
                        id: aprt
                    },
                    success: function (data) {
                        var events = [];
                        $.each(data, function (index, value) {
                            events.push({
                                id: value.id,
                                title: value.title,
                                start:moment.unix(value.start)
                            });
                        });

                        callback(events);
                    }
                });
            }
        });

    });
</script>

<style>

    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 30px auto;
    }

</style>


<div id='calendar'></div>
<p>&nbsp;</p>
