﻿<div class="container">
    <div class="row">
       
        <div class="clearfix" style="margin-bottom:100px">&nbsp;</div>
         <div >
          <a href="@Url.Action("property_detail", ViewBag.Name.Replace(" ", "-").ToLower(), new { id = ViewBag.Id })" class="btn btn-primary link-c-n">                                     
                                    Back to Property Detail</a>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div id="map_canvas" style="height: 400px; width: 100%"></div>
        <div class="clearfix" style="margin-bottom:40px">&nbsp;</div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyD0X4v7eqMFcWCR-VZAJwEMfb47id9IZao"></script>

        <script type="text/javascript">

            $(document).ready(function () {
                Initialize();
            });

            function Initialize() {

                // Google has tweaked their interface somewhat - this tells the api to use that new UI
                google.maps.visualRefresh = true;
                var Liverpool = new google.maps.LatLng('@(ViewBag.Lat)', '@(ViewBag.Lang)');

        // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
        var mapOptions = {
            zoom: 10,
            center: Liverpool,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };

        // This makes the div with id "map_canvas" a google map
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        var myLatlng = new google.maps.LatLng('@(ViewBag.Lat)', '@(ViewBag.Lang)');
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: '@(ViewBag.Name)'
            });

            var infowindow = new google.maps.InfoWindow({
                content: '@(ViewBag.Name)'
            });

            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });



        }

        </script>

    </div>
</div>
