﻿<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Lanka Booking</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/signin.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/signin.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/fav_touch_icons/favicon.ico" />
    <link rel="apple-touch-icon" href="~/Images/fav_touch_icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Images/fav_touch_icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Images/fav_touch_icons/apple-touch-icon-114x114.png" />


    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Revolution Slider CSS settings -->
    <link rel="stylesheet" type="text/css" href="~/rs-plugin/css/settings.css" media="screen" />

    <!-- Template CSS -->
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" />


    <!-- Modernizr -->
    <script src="~/Scripts/modernizr-2.8.1.min.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $(window).bind("load", function () {
            var footer = $("#footer");
            var pos = footer.position();
            var height = $(window).height();
            height = height - pos.top;
            height = height - footer.height();
            if (height > 0) {
                footer.css({
                    'margin-top': height + 'px'
                });
            }
        });
    </script>



</head>
<body>
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">

        <!-- BEGIN HEADER -->
        <header id="header">
            <div id="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--<ul id="top-info">
                                <li>Phone: 800-123-4567</li>
                                <li>Email: <a href="mailto:hello@yourcompany.com">hello@yourcompany.com</a></li>
                            </ul>-->

                            <ul id="top-buttons">
                                @Html.Partial("_LoginPartial")



                                <li><a href="#"><i class="fa fa-sign-in"></i> Login</a></li>
                                <li><a href="#"><i class="fa fa-pencil-square-o"></i> Register</a></li>
                                <li class="divider"></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="nav-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="index.html" class="nav-logo"><img src="images/logo.png" alt="Cozy Logo" /></a>



                            <!-- BEGIN MAIN MENU -->
                            <nav class="navbar">
                                <button id="nav-mobile-btn"><i class="fa fa-bars"></i></button>

                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a class="active" href="#" data-toggle="dropdown" data-hover="dropdown">Home<b class="caret"></b></a>
                                        <!--<ul class="dropdown-menu">
                                            <li><a href="index.html">Home Search</a></li>
                                            <li><a class="active" href="index-slider.html">Home Slider</a></li>
                                            <li><a href="index-grid.html">Home Grid</a></li>
                                            <li><a href="index-map.html">Home Map</a></li>
                                        </ul>-->
                                    </li>
                                    <li><a href="contacts.html">About Us</a></li>
                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown" data-hover="dropdown">Properties<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="properties-detail.html">Properties Detail</a></li>
                                            <li><a href="properties-list.html">Properties List</a></li>
                                            <li><a href="properties-grid.html">Properties Grid</a></li>
                                            <li><a href="properties-grid2.html">Properties Grid 2</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown" data-hover="dropdown">Pages<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="about.html">About Us</a></li>
                                            <li class="dropdown-submenu">
                                                <a href="#">Agency</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="agency-detail.html">Agency Detail</a></li>
                                                    <li><a href="agency-listing.html">Agency Listing</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href="#">Agent</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="agent-detail.html">Agent Detail</a></li>
                                                    <li><a href="agent-listing.html">Agent Listing</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="pricing-tables.html">Pricing Tables</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="register.html">Register</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                            <li><a href="404.html">404</a></li>

                                            <li class="divider"></li>
                                            <li><a tabindex="-1" href="#"> Separated link </a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown" data-hover="dropdown">Blog<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="blog-detail.html">Blog Detail</a></li>
                                            <li><a href="blog-listing1.html">Blog Listing 1</a></li>
                                            <li><a href="blog-listing2.html">Blog Listing 2</a></li>
                                            <li><a href="blog-listing3.html">Blog Listing 3</a></li>
                                            <li><a href="blog-listing4.html">Blog Listing 4</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="contacts.html">Contacts</a></li>
                                </ul>

                            </nav>
                            <!-- END MAIN MENU -->

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER -->
        </head>
        <body>
            <div id="wrapper">
                <header id="header">
                    <div class="navbar-inner">
                        <div class="container">
                            <div class="col-md-6">
                                <a class="brand" href="index.html">
                                    <img src="../../Images/logo.png" alt="Lanka Booking Logo" />
                                </a>

                            </div>
                            <div class="col-md-6  text-right">
                                <ul class="nav">
                                    <li class="top-info">
                                        <ul id="top-info">
                                            <li>Phone: 800-123-4567</li>
                                            <li>Email: <a href="mailto:hello@yourcompany.com">info@yourcompany.com</a></li>
                                            @Html.Partial("_LoginPartial")
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div> <!-- /container -->
                    </div> <!-- /navbar-inner -->
                    <!-- BEGIN MAIN MENU -->
                    <div class="navbar-wrapper" id="nav-section">
                        <nav class="navbar navbar-inverse navbar-static-top">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#"></a>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="active">
                                            @Html.ActionLink("Home", "Index", "Home")

                                            <ul class="dropdown-menu" role="menu">
                                                <li><a class="active" href="index.html">Home Search</a></li>
                                                <li><a href="index-slider.html">Home Slider</a></li>
                                                <li><a href="index-grid.html">Home Grid</a></li>
                                                <li><a href="index-map.html">Home Map</a></li>
                                            </ul>

                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> About Us<span class="caret"></span></a>

                                            <ul class="dropdown-menu" role="menu">
                                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                                <li><a href="properties-list.html">Properties List</a></li>
                                                <li class="divider"></li>
                                                <li><a href="properties-grid.html">Properties Grid</a></li>
                                                <li><a href="properties-grid2.html">Properties Grid 2</a></li>
                                            </ul>
                                        </li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <!-- END MAIN MENU -->
                </header>
                <div id="body">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>

            </div>
            <footer id="footer">
                <div class="content-wrapper">
                    <div class="float-left">
                        <div class="foot-text">
                            &copy; @DateTime.Now.Year - lanka bookin
                        </div>
                    </div>
                </div>
            </footer>
            @RenderSection("scripts", required: false)

        </body>
</html>
