﻿@model LankaBookin.Models.Tour

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create New Tour</h2>

@using (Html.BeginForm("Create", "Tour", FormMethod.Post,
                            new { enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TourName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TourName)
            @Html.ValidationMessageFor(model => model.TourName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <label for="file">Upload Profile Image</label>
        <input type="file" name="file" id="file" style="width: 30%;" />
        @Html.ValidationMessage("uploadMain")

        <div class="editor-label">
            @Html.Label("Select Categories")
        </div>

        <div>
            @foreach (LankaBookin.Models.Category item in ViewBag.CategoryTypes)
            {
                <input type="checkbox" id="Cat@(item.Id)" name="Cat@(item.Id)" />
                @item.CategoryName
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Steps, "Number of Destination Points")
        </div>
        <div>
            @Html.DropDownList("steps", (SelectList)ViewBag.steps, "steps", new { @onchange = "javascript:StepChange(this.value);" })
        </div>

        <div class="editor-label">
            @Html.Label("Select Destination Cities")
        </div>

        <div id="destinationList"></div>

        <div class="editor-field" id="destination">
            @Html.DropDownList("Cities", String.Empty)
        </div>

        <div class="col-md-2">
            <input type="submit" id="submit" value="Create" />
        </div>
        <div class="col-md-2 btn btn-info b-t-l">
            @Html.ActionLink("Back to List", "Index")
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </fieldset>
}

<script type="text/javascript">

    //$('form').submit(function () {
    //    $('#submit').attr('disabled', 'disabled');
    //});

    function StepChange(step) {
        $("#destinationList").contents().remove();
        for (var i = 1; i < $("#steps").val() ; i++) {
            $("#destination").clone().prependTo("#destinationList");
        }
    }
</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
