﻿@model LankaBookin.Models.Tour

@{
    ViewBag.Title = "Tour Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend></legend>

    @{
        var img = new FileInfo(@Model.ImagePath);
        <img class="img" src="@Url.Content(String.Format("~/Images/Tour/{0}", img.Name))" width="100" height="100" />
    }

    <div class="display-label">
        @Html.DisplayNameFor(model => model.TourName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.Label("Tour Destinations")
    </div>

    @foreach (var item in ViewBag.Destinations)
    {
        @item.CityName
    }

</fieldset>
    <div class="col-md-2 btn btn-primary link-c-n">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </div>
    <div class="col-md-2 btn btn-info">
        @Html.ActionLink("Back to List", "Index")
        </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
