﻿@model LankaBookin.Models.Tour

@{
    ViewBag.Title = "PublicDetails";
}

<div class="container">
    <div class="row">
        <div class="row">
            <div class="main col-sm-12">
            <h1 class="blog-title">
                @Html.DisplayFor(model => model.TourName)
            </h1>
                </div>
            <div class="main col-sm-4">
             

            @{
                if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    var img = new FileInfo(@Model.ImagePath);
                    <div class="blog-main-image tour-public">
                    <img class="img" src="@Url.Content(String.Format("~/Images/Tour/{0}", img.Name))" />
                    </div>
                }
                else
               {
                   <div class="blog-main-image tour-public">
                       <img class="img" src="@Url.Content("~/Images/noimage.jpg")" />
                       </div>
              }
            }
            </div>
            <div class="sidebar col-sm-8">

           

            <h2 class="title">
                <label>@Html.DisplayNameFor(model => model.Description)</label>
            </h2>
            <div class="categories">
                @Html.DisplayFor(model => model.Description)
            </div>

            <h2 class="title">
                @Html.Label("Tour Destinations")
            </h2>
            <div class="categories">
            @foreach (var item in ViewBag.Destinations)
            {
                <ul class="">
                   <li> @item.CityName</li>
                </ul>
            }


            </div>
                <p>&nbsp;</p>
      
            <div class="col-md-3 btn btn-primary link-c-n">
                @Html.ActionLink("Create Tour Request", "Create", "TourRequest", new { tourId = Model.Id }, null)
            </div>
            <div class="col-md-2 btn btn-info">@Html.ActionLink("Back to List", "PublicTourList")</div>
   


</div>
</div>
        </div>
    </div>