﻿@model PagedList.IPagedList<LankaBookin.Models.Tour>
@using PagedList.Mvc;

@{
    ViewBag.Title = "PublicTourList";
}
<div class="container">
            <li class="row">
<div id="property-listing" class="list-style clearfix">
                    <div class="row">

                        		<div class="parallax" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
						<img src="~/Images/logo-small.png" /><h2>Coming Soon</h2>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
					</div>
				</div>
			</div>
		</div>

                       @* @foreach (var item in Model)
                        {

                            <div class="item col-md-4">
                                <!-- Set width to 4 columns for grid view mode only -->
                                <div class="image">
                                    <a href="@Url.Action("PublicDetails", "Tour", new { id = item.Id })" class="info">
                                        <h3>Details</h3>
                                    </a>

                                    @{
                                        if (!string.IsNullOrEmpty(item.ImagePath)){
                                            var img = new FileInfo(@item.ImagePath);
                                            <img class="img" src="@Url.Content(String.Format("~/Images/Tour/{0}",img.Name))" width="100" height="100" />
                                        }
                                         else
                                        {
                                            <img class="img" src="@Url.Content("~/Images/noimage.jpg")" width="100" height="100" />
                                        }
                                    }

                                </div>
                                <div class="info tour-list">
                                    <h3>
                                        <a href="@Url.Action("PublicDetails", "Tour", new { id = item.Id })">
                                            @if (!string.IsNullOrEmpty(item.TourName))
                                            {
                                                if (item.TourName.Count() > 40)
                                                {
                                                    <p>@string.Format("{0}...", @item.TourName.Substring(0, 40))</p>
                                                }
                                                else{
                                                    @item.TourName
                                                }
                                            }
                                        </a>
                                    </h3>
                                    
                                    @if (!string.IsNullOrEmpty(item.Description))
                                    {
                                        if (item.Description.Count() > 200)
                                        {
                                            <p>@string.Format("{0}...",@item.Description.Substring(0, 200))</p>
                                        }
                                        else
                                        {
                                           <p>@item.Description</p>
                                       }
                                    }

                                </div>
                            </div>

                        }*@

                       

                    </div>
                </div>
@*                 Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("PublicTourList", new { page, currentFilter = ViewBag.CurrentFilter }))*@
</div>

