﻿@model LankaBookin.Models.AccomadationType

@{
    ViewBag.Title = "Create Accomadation Type";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccomadationName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccomadationName)
            @Html.ValidationMessageFor(model => model.AccomadationName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="col-md-2">
            <input id="save" type="submit" value="Create" />
        </div>
        <div class="col-md-2 btn btn-info b-t-l">
    @Html.ActionLink("Back to List", "Index")
</div>
    </fieldset>
}

<p>&nbsp;</p>

<script>

    //$('form').submit(function () {
    //    $('#save').attr('disabled', 'disabled');
    //});

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
