﻿@model LankaBookin.Models.AccomadationType

@{
    ViewBag.Title = "Edit Accomadation Type";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Deleted)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDate)

        <div class="editor-label">
            @Html.LabelFor(model => model.AccomadationName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccomadationName)
            @Html.ValidationMessageFor(model => model.AccomadationName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="col-md-2">
            <input type="submit" value="Save" />
        </div>
        <div class="col-md-2 btn btn-info b-t-l">
    @Html.ActionLink("Back to List", "Index")
</div>
    </fieldset>
    <p>&nbsp;</p>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
