﻿@model LankaBookin.Models.TourRequest

@{
    ViewBag.Title = "Create Tour Request";
}
  <div class="container">
            <div class="row">
                <div class="col-sm-12">
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "TourRequest", FormMethod.Post, new { id = "Form" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        <p class="req-detail-s">
        <label>You are in Tour Mode</label><br />@Html.ActionLink("Cancel Tour Request", "CancelTour","Apartment")

        @Html.Hidden("tourId", (int)ViewBag.tourId)
            </p>
        <div class="editor-label">
            @Html.Label("Tour")
        </div>
        <div class="editor-field">
            @Html.Label((String)ViewBag.Tour.TourName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration, "Total Tour Duration")
        </div>
        <div class="editor-field col-md-4 no-padding">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration, "", new { id = "DurationVal" })
        </div>
        <div class="clearfix"></div>
        @{
        Dictionary<int, object> dic = null;
        if (ViewBag.BookinRequests != null)
        {
            dic = (Dictionary<int, object>)ViewBag.BookinRequests;
        }
        }

        @foreach (var item in ViewBag.Tour.TourDestination)
        {
            <div id="des@(item.Id)" class="destination">
                <div class="SearchPro">
                    @Html.ActionLink("Seach For a Property", "Search", "Apartment", new { tourId = item.Id }, null)
                    @Html.Label((string)item.City.CityName)
                </div>

                @{
            if (dic != null && dic.ContainsKey(item.Id))
            {
                LankaBookin.Models.BookingRequest result = (LankaBookin.Models.BookingRequest)dic[item.Id];
                    <div class="ResultPro">
                        @result.Apartment.Name
                        @result.CheckIn
                        @result.CheckOut
                        @result.Price
                    </div>
            }
                }
            </div>
        }

        <label id="ValidationResult"></label>

        <p>
            <input type="submit" id="submit" value="Create" />
        </p>
    </fieldset>
}
<p class="clearfix"></p>
<div>
    @Html.ActionLink("Back to Tour List", "PublicTourList", "Tour", new { categoryId = Session[LankaBookin.Common.SessionVariables.CategoryId.ToString()] }, null)
</div>
<p class="clearfix"></p>
<div id="window">
</div>

@*<div id="sucessMessage" title="">
  <p>Your Tour Request added sucessfully</p>
</div>*@

<script type="text/javascript">

    $('form').submit(function () {
        $('#submit').attr('disabled', 'disabled');
    });

    if (jQuery.ui) {
        //alert('d');
    }

    $(function () {
        $("#Form").submit(function (e) {
            var duration = $("#Duration").val();
            if (duration < 0 || duration == '') {
                $("#DurationVal").text('Please enter total duration');
                e.preventDefault();
                $('#submit').removeAttr('disabled');
            }else

                if ($('.destination').length != $('.ResultPro').length) {
                    $("#ValidationResult").text('Please select Properties for Remaining Destinations');
                    e.preventDefault();
                    $('#submit').removeAttr('disabled');
                } else {
                    //$("#sucessMessage").dialog();
                }

        });
    });

</script>
</div>
                </div>
      </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
