﻿@model IEnumerable<LankaBookin.Models.TourRequest>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<div id="dialog">
    <p>&nbsp;</p>
  <p class="req-detail-s">Your Tour Request sucessfully submited. Lankabookin Agent will conatact you soon</p>
</div>  

    @Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.Lb_Tour.TourName).Titled("Tour Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Duration).Titled("Duration").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.CreatedDate).Titled("OrderDate").SetWidth(120).Sortable(true).Filterable(true);

          }).WithPaging(10)

    
<script>
    if (jQuery.ui) {
        //alert('ddede');
    }

    $(function () {
        $("#dialog").hide();
        var display = '@ViewBag.Display';
        if (display=='True') {
            $("#dialog").show();
        }
        else {
            $("#dialog").hide();
        }
    });
</script>

 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>