﻿@model LankaBookin.Models.Lb_UserWishList

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Lb_UserWishList</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApartmentId, "Lb_Apartment")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ApartmentId", String.Empty)
            @Html.ValidationMessageFor(model => model.ApartmentId)
        </div>

        <div class="col-md-2">
            <input type="submit" id="submit" value="Create" />
        </div>
        <div class="col-md-2 btn btn-info">
            @Html.ActionLink("Back to List", "Index")
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
