﻿@model LankaBookin.Models.UserWishList

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lb_User.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lb_User.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apartment.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apartment.Name)
    </div>
</fieldset>

@using (Html.BeginForm()) 
{
    <div class="col-md-2">
        <input type="submit" value="Delete" />
    </div>
    <div class="col-md-2 btn btn-info">
        @Html.ActionLink("Back to List", "Index")
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
}
