﻿@model LankaBookin.Models.District

@{
    ViewBag.Title = "Create District";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.DistrictName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DistrictName)
            @Html.ValidationMessageFor(model => model.DistrictName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="col-md-2">
            <input type="submit" id="submit" value="Create" />
        </div>
        <div class="col-md-2 btn btn-info b-t-l ">
            @Html.ActionLink("Back to List", "Index")
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </fieldset>
}



<script type="text/javascript">

    $('form').submit(function () {
        $('#submit').attr('disabled', 'disabled');
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
