﻿@model LankaBookin.Models.District

@{
    ViewBag.Title = "Delete District";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<p>&nbsp;</p>
    @Html.HiddenFor(model => model.Id)

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DistrictName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistrictName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field dis-i-d">
        @Html.DisplayFor(model => model.Description)
    </div>
<div class="clearfix"></div>

@using (Html.BeginForm())
{
    <div class="col-md-2">
        <input type="submit" value="Delete" />
    </div>
    <div class="col-md-2 btn btn-info b-t-l">
        @Html.ActionLink("Back to List", "Index")
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
}
