﻿@model LankaBookin.Models.District

@{
    ViewBag.Title = "District Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Details</h2>

<div class="dis-name">
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DistrictName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistrictName)
    </div>
        </div>
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field dis-i-d">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>

    <p>&nbsp;</p>
    <div class="col-md-12">
    <div class="display-label">
         @Html.Label("Cities")
    </div>
      </div>

    @foreach (var city in ViewBag.City)
    {
        <div class="col-md-2">
        <div class="dis-name-list">
            @Html.ActionLink((string)@city.CityName, "Details","City", new { id=city.Id  },null)
        </div>
            </div>
    }
   </div>
<p>&nbsp;</p>
<div class="col-md-12">
    <div class="col-md-2 btn btn-primary link-c-n">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </div>
    <div class="col-md-2 btn btn-info">
        @Html.ActionLink("Back to List", "Index")
        </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    </div>
