﻿.submit-progress {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 6em;
    padding-top: 2.3em;
    /* The following rules are the ones most likely to change */
    width: 20em;
    /* Set 'margin-left' to a negative number

     that is 1/2 of 'width' */
    margin-left: -10em;
    padding-left: 2.1em;
    background-color: black;
    color: white;
    z-index:9999;
    position:absolute;
}

.submit-progress-bg {
    background-color: lightgray;
    opacity: .5;
}

.set-padding {
    padding: 0 8px !important;
}
.nav-section-color {
 
    border-bottom:1px solid #6FBF52 !important;
}
.set-padding-20 {
    padding:20px 0 60px !important;
}
.set-height {
    height:437px;
 }

.pattern-bg2 {
    position: relative;
    background-image: url('../images/pattern6.jpg');
    width: 100%;
    height: 200%;
    background-repeat: repeat;
}
.highlight-title {
    color:#000 !important;
    font-family:Arial !important;
}
.highlight-subtitle {
    font-family:Arial !important;
}
.btn-primary-orange {
    background-color: #ff9d00 !important;
    border-color: #efaa5c !important;
    font-size:16px !important;
    color:#ffffff !important;
    font-weight:bold !important;
}
.btn-primary-orange:hover{
    background-color: #ff9d00 !important;
}

.label-margin-set {
    margin-top:10px;
}
.set-margin-bot {
    margin-bottom:20px;
}
.box-type-1 {
    background-color: #f1f3f6;
    height: 150px;
    margin: 10px 10px 20px;
    padding: 40px 50px;
    width: 30% !important;
}
.box-type-2 {
    margin: 10px 10px 20px;
    width: 30% !important;
}