﻿@model LankaBookin.Models.TourRequest

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h3>Are you sure you want to delete this?</h3>
    <p>&nbsp;</p>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Lb_Tour.TourName)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Lb_Tour.TourName)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Duration)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Duration)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.User.Name)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.User.Name)
                </div>
            </div>
            @using (Html.BeginForm())
            {
                <div class="col-md-2">
                    <input type="submit" value="Delete" />
                </div>
                <div class="col-md-2 btn btn-info b-t-l">
                    @Html.ActionLink("Back to List", "Index")
                </div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            }
        </div>
    </div>
\
