﻿@model LankaBookin.Models.TourRequest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <div class="col-md-12">
    <div class="display-label">
         <label>@Html.DisplayNameFor(model => model.Lb_Tour.TourName)</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lb_Tour.TourName)
    </div>
        </div>
    <div class="col-md-12">
    <div class="display-label">
         @Html.LabelFor(model => model.Duration,"Total Duration")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>
        </div>
    <div class="col-md-12">
    <div class="display-label">
         <label>@Html.DisplayNameFor(model => model.User.Name)</label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Name)
    </div>
        </div>
    <div class="col-md-12">
    <label>Destnations</label>
        </div>
    @foreach (var item in Model.BookingRequests)
    {
        <div class="col-md-12">
            <div class="display-label">
                 <label>Property Name </label>
            </div>
            <div class="display-field">
                @item.Apartment.Name
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="display-label">
                 <label>Price </label>
            </div>
            <div class="display-field">
                @item.Price
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="display-label">
                 <label>OrderDate </label>
            </div>
            <div class="display-field">
                @item.OrderDate
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="display-label">
                 <label>Checkin Date </label>
            </div>
            <div class="display-field">
                @item.CheckIn
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="display-label">
                 <label>Checkout Date </label>
            </div>
            <div class="display-field">
                @item.CheckOut
            </div>
        </div>
        
        if (item.Apartment.IsPerRoom)
        {
            <div class="col-md-12">
                <div class="display-label">
                     <label>No of Rooms </label>
                </div>
                <div class="display-field">
                    @item.RoomsBooked
                </div>
            </div>
        }
    }
    
</fieldset>
<div class="col-md-2">
@*    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |*@
    <div class="btn btn-info">@Html.ActionLink("Back to List", "Index")</div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
