﻿@model LankaBookin.Models.TourRequest

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TourRequest</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.TourId, "Lb_Tour")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TourId", String.Empty)
            @Html.ValidationMessageFor(model => model.TourId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <label>Destnations</label>

        @for (int i = 0; i < Model.Lb_TourDestinationRequest.Count; i++)
        {                    
           @Html.TextBoxFor(m => m.Lb_TourDestinationRequest.ElementAt(i).Lb_City.CityName) 
           @Html.TextBoxFor(m => m.Lb_TourDestinationRequest.ElementAt(i).Lb_BookingRequest.Apartment.Name) 
           @Html.TextBoxFor(m => m.Lb_TourDestinationRequest.ElementAt(i).Lb_BookingRequest.Price)
           @Html.TextBoxFor(m => m.Lb_TourDestinationRequest.ElementAt(i).Lb_BookingRequest.CheckIn)
           @Html.TextBoxFor(m => m.Lb_TourDestinationRequest.ElementAt(i).Lb_BookingRequest.CheckOut)

           if (Model.Lb_TourDestinationRequest.ElementAt(i).Lb_BookingRequest.Apartment.IsPerRoom)
           {
               @Html.TextBoxFor(m => m.Lb_TourDestinationRequest.ElementAt(i).Lb_BookingRequest.RoomsBooked)
           }
        }

        <div class="col-md-2">
            <input type="submit" value="Save" />
        </div>
        <div class="col-md-2 btn btn-info">
    @Html.ActionLink("Back to List", "Index")
</div>
        <p>&nbsp;</p
            <p>&nbsp;</p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
