﻿@model IEnumerable<LankaBookin.Models.TourRequest>
@using GridMvc.Html

@{
    ViewBag.Title = "Tour Requests";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.Lb_Tour.TourName).Titled("Tour Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Duration).Titled("Duration").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.User.Name).Titled("User Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.CreatedDate).Titled("OrderDate").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("Actions").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("View", "Details", "AdminTourRequest", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Delete", "Delete", "AdminTourRequest", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-danger modal-link" }).ToHtmlString());

          }).WithPaging(10)



