﻿@model LankaBookin.Models.Facility

@{
    ViewBag.Title = "Create City";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Amenity Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FacilityName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FacilityName)
            @Html.ValidationMessageFor(model => model.FacilityName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field com-texta">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.Label("Priority")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Priority", String.Empty)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.FacilityCategoryId, "Amenity types")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FacilityCategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.FacilityCategoryId)
        </div>

        <div class="col-md-2">
            <input type="submit" id="submit" value="Create" />
        </div>
        <div class="col-md-2 btn btn-info b-t-l">
            @Html.ActionLink("Back to List", "Index")
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </fieldset>
}



<script type="text/javascript">

    //$('form').submit(function () {
    //    $('#submit').attr('disabled', 'disabled');
    //});

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
