﻿@model LankaBookin.Models.Facility

@{
    ViewBag.Title = "Delete Facility";
    if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<p>&nbsp;</p>
<fieldset>

    @Html.HiddenFor(model => model.Id)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FacilityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacilityName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <div class="col-md-2">
        <input type="submit" value="Delete" />
    </div>
    <div class="col-md-2 btn btn-info b-t-l">
        @Html.ActionLink("Back to List", "Index")
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
}
