﻿@model LankaBookin.Models.Facility

@{
    ViewBag.Title = "Edit Facility";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Amenity</legend>

         @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Deleted)
        @Html.HiddenFor(model => model.CreatedDate)
        @Html.HiddenFor(model => model.CreatedBy)

        <div class="editor-label">
            @Html.LabelFor(model => model.FacilityName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FacilityName)
            @Html.ValidationMessageFor(model => model.FacilityName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.Label("Priority")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Priority", String.Empty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FacilityCategoryId, "Amenity types")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FacilityCategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.FacilityCategoryId)
        </div>

        <div class="col-md-2">
            <input type="submit" value="Save" />
        </div>
        <div class="col-md-2 btn btn-info b-t-l">
            @Html.ActionLink("Back to List", "Index")
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
