﻿@model LankaBookin.Models.RoomsBook

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RoomsBook</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApartmentId, "Apartment")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ApartmentId", String.Empty)
            @Html.ValidationMessageFor(model => model.ApartmentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoomCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoomCount)
            @Html.ValidationMessageFor(model => model.RoomCount)
        </div>

        <div class="col-md-2">
            <input type="submit" id="submit" value="Create" />
        </div>
        <div class="col-md-2 btn btn-info">
            @Html.ActionLink("Back to List", "Index")
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </fieldset>
}



<script>
    $(function () {

        if (jQuery.ui) {
            alert('d');
        }

        $("#Date").datepicker();
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
