﻿@model IEnumerable<LankaBookin.Models.RoomsBook>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}
<script>

    $(document).ready(function () {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
            },
            defaultDate: '2015-06-30',
            selectable: false,
            eventColor: '#378006',
            eventOverlap: false,
            allDayDefault:true,
            dayClick: function(date, jsEvent, view) {

                var title ='booked';
                var eventData;
                eventData = {
                    id: date,
                    title: title,
                    start: date,
                    end: date,
                    allDay:true
                };

                var url = "/RoomsBook/UpdateAvailableDates/";

                $.ajax({
                    url: url,
                    data: { date: date },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        var markup = "<option value='0'>Select City</option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#cityId").html(markup).show();
                    },
                    error: function (reponse) {
                    }
                });

                $('#calendar').fullCalendar('removeEvents', date)
                $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                $('#calendar').fullCalendar('unselect');

            },
            eventClick: function (calEvent, jsEvent, view) {

                $('#calendar').fullCalendar( 'removeEvents', calEvent.id )

            },
            eventSources: [

                // your event source
                {
                    url: '/myfeed.php',
                    type: 'POST',
                    data: {
                        custom_param1: 'something',
                        custom_param2: 'somethingelse'
                    },
                    error: function() {
                        alert('there was an error while fetching events!');
                    },
                    color: 'yellow',   // a non-ajax option
                    textColor: 'black' // a non-ajax option
                }

                // any other sources...

        ]
        });

    });

</script>
<style>
    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
</style>


<div id='calendar'></div>
