﻿@{
    ViewBag.Title = "About";
    ViewBag.Description = "Reserve your place in Sri Lanka through lankabookin.com for your best travel, with our 24 hours feedback. Get the space, freedom, value and amenities.";
}
<div class="parallax colored-bg pattern-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title">About Us</h1>

                <ul class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index","Home")</li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-sm-12">

        <!-- BEGIN HIGHLIGHT -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="main col-sm-8">
                        <div class="">
                            <h2 class="section-highlight" data-animation-direction="from-left" data-animation-delay="50">“Stay via Lankabookin.com means authenticity, privacy, value for money and flexibility”.</h2>
                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"><strong>Lankabookin.com</strong> is an effective, user-friendly web site that is dedicated to help travellers to find properties in Sri Lanka. Our mission is to create one of the best vacational rental sites on the web, for the highest quality and for the lowest possible cost. <strong>Lankabookin.com</strong> offer a compelling alternative to Hotels for travellers seeking additional space, amenities, more freedom and value that Hotels are often unable to match.</p>
                            <p data-animation-direction="from-left" data-animation-delay="650"> The site has been carefully developed to offer the best and the easiest way to find what exactly you want and the area you’re looking for by creating three different styles of search engines. In addition, quality interior and exterior images, net-prices and discounts, key activities and key places around the area and a <strong>Lankabookin.com</strong> ranking indicator where we rank the quality of each house. 
</p>
                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">One of the main advantages of using <strong>Lankabookin.com</strong> is, it gives the journalists, travellers, families who go on trips, groups who go on pilgrimages, the opportunity to book the chosen home on monthly basis, weekly or even on DAILY basis for the lowest possible price.
</p>
                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"><strong>Lankabookin.com</strong> list the only properties where owners who meets our standards. And we have a dedicated staff on-site to provide the highest service levels to guests — just like a hotel experience. What does that mean for guests? It means that the guests who book with <strong>Lankabookin.com</strong> at anytime and you get the feedback within 24 hours and we will be there throughout the stay to ensure a relaxing, peaceful vacation experience. 
</p>
                            
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <img id="about-img" src="/Images/about-us.jpg" alt="" data-animation-direction="from-right" data-animation-delay="200" />
                    </div>
                </div>
            </div>
        </div>
        <!-- END HIGHLIGHT -->
        <!-- BEGIN SERVICES -->
        <div class="gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="section-title" data-animation-direction="from-bottom" data-animation-delay="50">What travellers like Lankabookin.com?
</h1>

                        <ul class="services">
                            <li class="col-md-8" data-animation-direction="from-bottom" data-animation-delay="250">
                                <h3><i class="fa fa-tags"></i> Attractive Rates and special discounts </h3>
                            </li>
                            <li class="col-md-8" data-animation-direction="from-bottom" data-animation-delay="450">
                                <h3><i class="fa fa-tags"></i> Best Selection and Availability. </h3>
                            </li>
                            <li class="col-md-8" data-animation-direction="from-bottom" data-animation-delay="650">
                                <h3><i class="fa fa-tags"></i> Travel Happy</h3>
                            </li>
                            <li class="col-md-8" data-animation-direction="from-bottom" data-animation-delay="850">
                                <h3><i class="fa fa-tags"></i> No booking fees and no hidden charges for the rates which have shown. </h3>
                            </li>
                             <li class="col-md-8" data-animation-direction="from-bottom" data-animation-delay="450">
                                <h3><i class="fa fa-tags"></i> Friendly, helpful and dedicated staff to help you on any matter.</h3>
                            </li>
                            <li class="col-md-8" data-animation-direction="from-bottom" data-animation-delay="650">
                                <h3><i class="fa fa-tags"></i> Destination Experts with Answers to Your Questions.</h3>
                            </li>
                            <li class="col-md-8" data-animation-direction="from-bottom" data-animation-delay="850">
                                <h3><i class="fa fa-tags"></i> Unique locations in locations where you have hardly heard.</h3>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!-- END SERVICES -->



       
        <!-- BEGIN PARTNERS WRAPPER -->
        <div class="parallax pattern-bg" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="section-title" data-animation-direction="from-bottom" data-animation-delay="50">Perfect Places Services for Property Owners and Managers. </h1>

                        <div id="partners">
                            <p>You can meet our standards? Lankabookin.com provides one of the most powerful vacation rental marketing and management solutions available. Also we list your property on some of the famous international rental sites and your property may get include on our different types of tours we organized. All you need to do is, click on the “add listings” button. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PARTNERS WRAPPER -->
    </div>
</div>