﻿@{
    ViewBag.Title = "Contact";
    ViewBag.Description = "Contact Us. Address. Lanka Bookin, No.82, Galle Road, Colombo - 04, Sri Lanka. Call Us +94 757232588 ";
}
<div class="parallax colored-bg pattern-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title">Contact Us</h1>

                <ul class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index","Home")</li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    <!-- BEGIN CONTENT WRAPPER -->


    <div class="content">

        <div class="container">
            <div class="row">
                <ul class="agencies-grid">
                <!-- BEGIN MAIN CONTENT -->
                    <li class="col-md-6 animate-from-bottom animation-from-bottom" data-animation-delay="250" data-animation-direction="from-bottom">
                        <div class="gray-bg set-padding-20 set-height">
                    <h2 class="center">For Travellers / Advertising: </h2>

                    <form id="Form" method="post" action="/Home/SaveData">
                        <div class="col-sm-12">
                            <input type="text" name="Name" placeholder="Name" class="form-control required fromName" />

                            <input type="email" name="Email" placeholder="Email" class="form-control required fromEmail" />

                            <input type="text" name="Subject" placeholder="Subject" class="form-control required subject" />
                            <textarea name="Message" placeholder="Message" class="form-control required"></textarea>

                            <div class="center">
                            <button type="submit" class="btn btn-default-color btn-lg submit_form"><i class="fa fa-envelope"></i> Send Message</button>
                        </div>
                        </div>

                        
                    </form>
                </div>
                <!-- END MAIN CONTENT -->
                    </li>
                <!-- BEGIN MAIN CONTENT -->
                <li class="col-md-6 animate-from-bottom animation-from-bottom" data-animation-delay="250" data-animation-direction="from-bottom">
                    <div class="gray-bg set-padding-20 set-height">
                    <h2 class="center">For Companies / Hosts: </h2>

                    <form id="Form" method="post" action="/Home/SaveData">
                        <div class="col-sm-12">

                            <input type="email" name="Email" placeholder="Email" class="form-control required fromEmail" />
                                                    <div class="center">
                            <button type="submit" class="btn btn-default-color btn-lg submit_form"><i class="fa fa-envelope"></i> Send Message</button>
                        </div>
                          </div>


                    </form>
                </div>
                <!-- END MAIN CONTENT -->
                </li>
                    </ul>

               
            </div>
        </div>
    </div>
    <!-- END CONTENT WRAPPER -->
</div>

</div>