﻿@model IEnumerable<LankaBookin.Models.Apartment>
@{
    ViewBag.Title = "Book villas, apartments and hotels in Sri Lanka | Lankabookin";
    ViewBag.Description = "Reserve your holiday bookings to Sri Lanka Now. Unbelievable savings on selected packages. Customize your favorite locations & tours with LankaBookIn.";
}

<!-- SLIDER -->


<div class="slider-1 clearfix">

    <div class="flex-container">
        <div class="flexslider loading">
            <ul class="slides">
                <li style="background: url(../../Images/slider/slider-bg-02.jpg) no-repeat; background-position: 50% 0; background-size: cover">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 contain">

                                <h2 data-toptitle="23%">Plan Your Holiday With</h2>
                                <p data-bottomtext="53%">Lanka BookIn</p>

                            </div>
                        </div>
                    </div>
                    <!-- End Container -->

                </li>
                <!-- End item -->
                <li style="background: url(../../Images/slider/slider-bg-03.jpg) no-repeat; background-position: 50% 0; background-size: cover">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 contain">

                                <h2 data-toptitle="23%">Plan Your Holiday With</h2>
                                <p data-bottomtext="53%">Lanka BookIn</p>
            
                            </div>
                        </div>
                    </div>
                    <!-- End Container -->

                </li>
                <!-- End item -->

                <li style="background: url(../../Images/slider/slider-bg-04.jpg) no-repeat; background-position: 50% 0; background-size: cover">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 contain">

                                <h2 data-toptitle="23%">Plan Your Holiday With</h2>
                                <p data-bottomtext="53%">Lanka BookIn</p>
  
                            </div>
                        </div>
                    </div>
                    <!-- End Container -->

                </li>
                <!-- End item -->

                <li style="background: url(../../Images/slider/slider-bg-05.jpg) no-repeat; background-position: 50% 0; background-size: cover">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 contain">

                                <h2 data-toptitle="23%">Plan Your Holiday With</h2>
                                <p data-bottomtext="53%">Lanka BookIn</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Container -->

                </li>
                <!-- End item -->
                <li style="background: url(../../Images/slider/slider-bg-06.jpg) no-repeat; background-position: 50% 0; background-size: cover">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 contain">

                                <h2 data-toptitle="23%">Plan Your Holiday With</h2>
                                <p data-bottomtext="53%">Lanka BookIn</p>

                            </div>
                        </div>
                    </div>
                    <!-- End Container -->

                </li>
                <!-- End item -->
            </ul>
        </div>
    </div>
</div>

<div class="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="trip-search">
                    <ul class="tabs">
                        <li><a href="#"><i class="icon-building"></i>Find Accommodation in Sri Lanka</a></li>
                    </ul>
                    <div class="tab_container">
                        <div id="hotel-tab" class="tab_content trip-form1">

                            @using (Html.BeginForm("Search", "Apartment", FormMethod.Post, new {id="form" }))
                            {
                                <div class="normal">
                                    <div class="form-group">
                                        @Html.DropDownList("districtId", (SelectList)ViewBag.districtId, "Search By District", new { @onchange = "javascript:GetCity(this.value);" })
                                    </div>
                                </div>
                                <div class="normal">
                                    <div class="form-group">
                                        @Html.DropDownList("cityId", (SelectList)ViewBag.cityId, "Search By City", new { id = "cityId" })
                                    </div>
                                </div>
                                <div class="datepicker-wrapper">
                                    <div class="form-group datepicker-wrapper">
                                        @Html.TextBox("checkin", "Check-in")
                                        <i class="icon-calendar"></i>
                                    </div>
                                </div>
                                <div class="datepicker-wrapper no-rs-mr">
                                    <div class="form-group datepicker-wrapper">
                                        @Html.TextBox("checkout", "Check-out")
                                        <i class="icon-calendar"></i>
                                    </div>
                                </div>

                                <div class="link">
                                    <button type="submit" id="search" class="btn btn-primary-orange btn-block">
                                        <i class="icon-search icon-flip-horizontal"></i>SEARCH
                                    </button>
                                </div>
                            }

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="parallax pattern-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row padded padded_double">
            <div class="col-sm-4 highlight highlight_center">
                <div class="highlight-icon highlight-icon_center">
                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                </div>
                <div class="highlight-text highlight-text_center">
                    <h2 class="highlight-title">Guest Satisfaction</h2>
                    <p class="highlight-subtitle">Over 95% guest satisfaction We Aggressively Market Your Property through Mega Listing Sites and Social Media!</p>
                </div>
                <hr class="visible-xs">
            </div>
            <div class="col-sm-4 highlight highlight_center">
                <div class="highlight-icon highlight-icon_center">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    
                </div>
                <div class="highlight-text highlight-text_center">
                    <h2 class="highlight-title">Accommodation</h2>
                    <p class="highlight-subtitle">We will help you to find an accommodation according to your needs.</p>
                </div>
                <hr class="visible-xs">
            </div>
            <div class="col-sm-4 highlight highlight_center">
                <div class="highlight-icon highlight-icon_center">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                </div>
                <div class="highlight-text highlight-text_center">
                    <h2 class="highlight-title">Customer Service</h2>
                    <p class="highlight-subtitle">Dedicated Customer Support.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax pattern-bg" data-stellar-background-ratio="0.5">
    <div class="">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="section-title-h" data-animation-direction="from-bottom" data-animation-delay="50">Explore the world</h1>
                <div id="full-grid" class="justified-gallery">


                    @if (ViewBag.topDestinations != null)
                    {

                        foreach (LankaBookin.Models.City item in ViewBag.topDestinations)
                        {
                    <div class="shadowed-entry">
                        <a href="@Url.Action("Search", "Apartment", new { cityId = item.Id })" class="info">
                            <h3>@item.CityName</h3>

                            @{
                            if (!string.IsNullOrEmpty(item.ImagePath))
                            {
                                var img = new FileInfo(item.ImagePath);
                                <img class="img" src="@Url.Content(String.Format("~/Images/City/{0}", img.Name))" />
                            }
                            }
                        </a>
                           </div>
                    
                        }

                    }

                </div>

            </div>

        </div>
    </div>
</div>

<!-- BEGIN PROPERTIES SLIDER WRAPPER-->
<div class="parallax pattern-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="section-title-h" data-animation-direction="from-bottom" data-animation-delay="50">Available Tour Categories</h1>

                <div id="tour-gallery" class="owl-carousel carousel-style1">

                    @foreach (var item in ViewBag.Category)
                    {
                        <div class="item" data-animation-direction="from-bottom" data-animation-delay="250">
                            <div class="image">
                                <a href="@Url.Action("PublicTourList", "Tour", new { categoryId = item.Id })" class="info">
                                    <h3>@item.CategoryName</h3>
                                </a>
                                @{
                                    var img = new FileInfo(@item.ImagePath);
                                    <img class="img" src="@Url.Content(String.Format("~/Images/Category/{0}", img.Name))" />
                                }
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</div>
<!-- END PROPERTIES SLIDER WRAPPER -->

<!-- BEGIN PROPERTIES SLIDER WRAPPER-->
<div class="parallax pattern-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="section-title-h" data-animation-direction="from-bottom" data-animation-delay="50">New Properties Available</h1>

                <div id="property-gallery" class="owl-carousel carousel-style1">

                    @foreach (var item in Model)
                    {
                        <div class="item" data-animation-direction="from-bottom" data-animation-delay="250">
                            <div class="image">
                                <a href="@Url.Action("property_detail", item.Name.Replace(" ", "").ToLower(), new { id = item.Id })" class="info">
                                    <h3>@item.Name</h3>
                                   <div class="property-thumb-details">
                                    @if(item.IsPerRoom){
                                       
                                    }
                                    else{
                                  
                                        <span class="r-no">No of rooms @item.NoOfBedrooms</span>
                                        <span class="sleep">Sleeps @item.MaxHeadCount</span>
                                    }
                                    <span class="city-name">@item.City.CityName</span>
                                   </div>
                                </a>
                                @{
                                    if (!string.IsNullOrEmpty(item.MainImagePath))
                                    {
                                        var img = new FileInfo(@item.MainImagePath);
                                                <img class="img" src="@Url.Content(String.Format("~/Images/Apartment/{0}/{1}", item.Name, img.Name))" />
                                    }
                                    else
                                    {
                                        <img class="img" src="@Url.Content("~/Images/noimage.jpg")" />
                                    }
                                }
                            </div>

                            @if (item.IsPerRoom)
                            {
                                if (item.PricePerRoom > 0)
                                {
                                    <div class="price">
                                    <i class="fa fa-home"></i>
                                    <span>$ &nbsp; @item.PricePerRoom</span>
                                    </div>
                                }
                            }
                            else
                            {
                                if (item.WholePricePerDay > 0)
                                {
                                    <div class="price">
                                        <i class="fa fa-home"></i>
                                        <span>$ &nbsp; @item.WholePricePerDay</span>
                                    </div>
                                }
                            }
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</div>
<!-- END PROPERTIES SLIDER WRAPPER -->

<script type="text/javascript">

    jQuery(document).ready(function () {

        $("#cityId").prop("disabled", true);

        jQuery("#full-grid").justifiedGallery({
            rowHeight: 280,
            maxRowHeight:	'200%',
            fixedHeight: true,
            captions: false,
            margins: 6,
            border:	-1,
            lastRow: 'justify',
            waitThumbnailsLoad: true,
            randomize: true,
            cssAnimation: true,
            imagesAnimationDuration:	300,
            sizeRangeSuffixes: {
                'lt100': '_t',
                'lt240': '_m',
                'lt320': '_n',
                'lt500': '',
                'lt640': '_z',
                'lt1024': '_b'
            }
        });

        $('#search').click(function (e) {
            e.preventDefault();

            var city, district, searchterm='';
            district = $("#districtId option:selected").text();
            city = $("#cityId option:selected").text();

            districtId = $("#districtId option:selected").val();
            cityId = $("#cityId option:selected").val();

            var isCity = false;
            var isDis = false;

            if (cityId>0) {
                searchterm = city.toLowerCase();
                isCity = true;
            }
            else if (districtId>0) {
                searchterm = district.toLowerCase();
                isDis = true;
            }

            var form = $("#form");
            if (isCity)
            {
                form.attr("action", "search/hotels-resorts-villas-" + searchterm + "-sri-lanka?cityId=" + cityId); 
            }
            else if (isDis)
            {
                form.attr("action", "search/hotels-resorts-villas-" + searchterm + "-sri-lanka?districtId=" + districtId);
            }
            else
            {
                form.attr("action", "search/hotels-resorts-villas-sri-lanka");
            }

            form.submit();
        });
    });

    $(function () {
        $(".your-div").each(function (i) {
            len = $(this).text().length;
            if (len > 80) {
                $(this).text($(this).text().substr(0, 80) + '...');
            }
        });
    });

    if (jQuery.ui) {

    }

    document.onreadystatechange = function () {
        if (document.readyState === 'complete') {
            $("#cityId_chzn").hide();
            $("#districtId_chzn").hide();
            $("#cityId").show();
            $("#districtId").show();
        }
    }

    $("#checkout").datepicker({ minDate: 0, });
    $("#checkin").datepicker({ minDate: 0, });

    function GetCity(_districtid) {
        $("#cityId").prop("disabled", false);
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#cityId").html(procemessage).show();
        var url = "/Apartment/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#cityId").html(markup).show();
            },
            error: function (reponse) {
            }
        });
        $("#cityId_chzn").hide();
        $("#districtId_chzn").hide();

        $("#cityId").show();
        $("#districtId").show();

    }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




