﻿@{
    ViewBag.Title = "Newtolankabookin";
    ViewBag.Description = "Find easily with great saving the place that you expect to visit, Sri Lnaka online. Keep your reservation with our immediate reply";
        }

<div class="parallax colored-bg pattern-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title">New to lankabookin</h1>

                <ul class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index","Home")</li>
                    <li><a href="#">New to lankabookin</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content colored">
<div class="container">
    <div class="row">
        <div class="main col-sm-8"> 
            <h1 data-animation-delay="50" data-animation-direction="from-bottom" class="section-title animate-from-bottom animation-from-bottom">Search the area you`re interested in.</h1>
             <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"><strong>Lankabookin.com</strong> has given you 03 ways of finding what you need. “Drop down search menu” where you can easily find the city you`re interested in and you can see the properties available of the particular.</p>
             <h2 class="section-highlight" data-animation-direction="from-left" data-animation-delay="50">What if you have no clue about cities in Sri Lanka? </h2>
            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">There is an answer! Do seek for help from our Lankabookin.com team by using our online chat feature or by dropping us an email. We will guide you and will make sure you will have a better idea about Sri Lanka before you make any reservations.</p>
              
            <h2 class="section-highlight" data-animation-direction="from-left" data-animation-delay="50">Your first time in Sri Lanka?</h2>
            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">Do love to stay near one of the famous beaches in Sri Lanka? Or in a lovely bungalow in hills to enjoy the cold weather? You can check “Top Destinations“ section on the home page, where Lankabookin.com will show you the famous cities where you can simply click and find the best.</p>
        
             <h2 class="section-highlight" data-animation-direction="from-left" data-animation-delay="50">Go through the property profile.</h2>
            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">By clicking on the picture or the name, you will be automatically getting connected to the property profile. This page will help you to get a clear idea of the property. This means about the prices, more photographs, and more details about amenities.</p>
            
            <h2 class="section-highlight" data-animation-direction="from-left" data-animation-delay="50">Check and compare the “Lankabookin.com quality ranking” bar</h2>
            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">Thinking which one to pick? Will give you a hand as well. Lankabookin.com quality ranking bar helps you to have our opinion about the quality of the property you selected. This will make sure you`re on the right track. Also you can check the reviews written by other guests so you can get a better idea. </p>
            

             <h2 class="section-highlight" data-animation-direction="from-left" data-animation-delay="50">Drop us an email.</h2>
            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">We will help you right through out! You can drop us an e-mail and ask your questions or any additional information you need. </p>
        
             <h2 class="section-highlight" data-animation-direction="from-left" data-animation-delay="50">Book your reservation</h2>
            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">Click on the “contact owner” button and mentioning that you`re interested, no of people, check-in and check-out dates and any further question you have on the window which appears automatically. We will reply you back within 24 hours where you will get an e-voucher.  </p>
        
          
        </div>


        <div class="sidebar colored col-sm-4" style="min-height: 1310px;">
            
             
            <h2 class="section-title" data-animation-direction="from-left" data-animation-delay="50">More questions? Ask us.</h2>
            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">If you aren't sure about anything, feel free to contact Lankabookin.com for advice. </p>
        
             <h2 class="section-title" data-animation-direction="from-left" data-animation-delay="50">Call us. Make sure you get the keys.</h2>
            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">We will be sending Four notifications to the host ( One week prior to your arrival, 2 days prior to the arrival, 1 day prior to the arrival and we call them on the date you arrive ). This process make sure that both guests and the hosts are aware of the reservation and also are in touch with each other.   </p>
        

            <h2 class="section-title" data-animation-direction="from-left" data-animation-delay="50">Discover the area.</h2>
            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">It’s always advisable to do a proper research about the area where you planning to live in. This will make sure you won’t miss out any of the attractive, famous places in the city you`re living in. </p>
            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">Too late to do that?  Call us, Chat with us, drop an email. Again! We`re happy to help you out. </p>

            <h2 class="section-title" data-animation-direction="from-left" data-animation-delay="50">Be the perfect guest.</h2>
            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">These are real homes, villas, hotels, bungalows so enjoy your stay just as if you were living in your own house. Remember to tidy up before you leave! </p>

            <h2 class="section-title" data-animation-direction="from-left" data-animation-delay="50">Share your experience…</h2>
            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">Had a good time? Or a horrible time? Share with us. Drop a review. So we can make sure the next guest won’t face the same issue. </p>
        </div>

    </div>
</div>
</div>
