﻿@{
    ViewBag.Title = "ResponsibleHosting";
}


		<div class="parallax" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
                        
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
						<img src="~/Images/logo-small.png" /><h2>Coming Soon</h2>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
					</div>
				</div>
			</div>
		</div>