﻿@{
    ViewBag.Title = "TrustSafty";
    ViewBag.Description = "Supply the best service under the clear conditions, clear payment methods and any time customer services";
}


<div class="parallax colored-bg pattern-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title">Trust and Safty</h1>

                <ul class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index","Home")</li>
                    <li><a href="#">Trust and Safty</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-sm-12">

        <!-- BEGIN HIGHLIGHT -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="main col-sm-8">
                        <div class="">
                            <h2 class="section-highlight" data-animation-direction="from-left" data-animation-delay="50">Hotels, Villas, Apartments & Bungalows covering all the popular destinations in Sri Lanka. </h2>
                            <h3>Trust it what it make it worth. </h3>
                            <br />
                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"> <strong>Every individual guest gets personal assistance from Lankabookin.com.</strong></p>
                            
                            <p data-animation-direction="from-left" data-animation-delay="650">We simply don’t ask you to visit our website and find where you want to stay by yourself. We guide you from the start to the end as we have professional experience about locations in Sri Lanka and about properties. Therefore we will be allocating a member for each guest and we will be giving ideas of what is good and what is bad and all the other information needed.</p>

                            <p data-animation-direction="from-left" data-animation-delay="650">This will eventually help the guests to get everything done from one place. </p>

                            <br />
                            <br />
                            <h3>We have carefully reviewed each property before listing on Lankabookin.com. </h3>
                            <br />
                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"> <strong>Booking an accommodation advertised on a reputable rental listing site, like Lankabookin.com, is more secure than renting through an unfamiliar website. Every property advertised on Lankabookin.com has been approved by our Trust and Safety team. Our thorough verification process vets all owners and managers in the unlikely event of fraud, so you can be confident about booking a safe rental. 
</strong></p>
                            <br />
                            <br />
                            <h3>User Agreement</h3>
                            <br />
                            <p data-animation-direction="from-left" data-animation-delay="650"> <strong>It is important to use a rental agreement before securing a reservation. Written agreements helps you and the owner/manager cover all terms of service and will clarify outstanding questions. 
Once when the guest shows their interest in making a reservation:</strong></p>


                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"><strong>Step 01: </strong>We will be sending you a “Reservation Quote” with all the information with the rates.</p>

                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"><strong>Step 02: </strong> When the guest agrees with Step 1, Lankabookin.com will be sending you an “invoice” to make the payment.</p>

                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"><strong>Step 03: </strong> Once the payment is made, Lankabookin.com will be sending you the “Reservation Voucher” and the “Receipt”.</p>

                            <br />
                            <br />

                            <h3>We handle the money so you don’t have to. </h3>
                            <br />
                            <p data-animation-direction="from-left" data-animation-delay="650"> <strong>How does the Lankabookin.com payment system work? </strong></p>


                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">Our payment system is secure, reliable, and convenient, supporting many currencies and several types of payment and payout methods. </p>

                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">When submitting a reservation request, particular message will come to Lankabookin.com team. Thereafter with the given contact details, one of the members of Lankabookin.com will contact you and will guide you through out the process. Also she/he will contact the owner of the property as a third party agent and will give you all the necessary information needed. Once the you (guest) confirms, The payment is processed and collected by Lankabookin.com in complete.* Whether the reservation is two days or two months away, we hold the payment until 24 hours after check-in before releasing the funds. This gives both parties time to do a walk-through upon check-in and make sure that everything is as expected.</p>

                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"><strong>Payment methods used by the company would be: </strong></p>
                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"><strong>1. Paypal  </strong></p>

                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"><strong>2. Western Union </strong> </p>

                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"><strong>3. Bank transfer</strong> </p>

                            <br />
                            <br />
                            <h3>Connect with our customer service anytime….  </h3>
                            <br />
                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"> <strong>Our service immediately connects you with an experienced support professional who can find answers to your vacation related problems. We’re here to help, 24/7. </strong></p>
                            <br />
                            <br />

                            <h3>Have More Questions? </h3>
                            <br />
                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"> <strong>Submit your question by visiting CONTACT US. And we will get back to you within 24 hours. </strong></p>
                            <br />
                            <br />
                          
                            
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <img id="about-img" src="/Images/trust-and-safty.gif" alt="LankaBookin-Trust" data-animation-direction="from-right" data-animation-delay="200" />
                    </div>
                </div>
            </div>
        </div>
        <!-- END HIGHLIGHT -->

    </div>
</div>