﻿@{
    ViewBag.Title = "Vision";
    ViewBag.Description = "Lankabookin.com to be the leading agency in the travel industry providing efficient & effective services to our customers.";
}

<div class="parallax colored-bg pattern-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title">Vision and Mission</h1>

                <ul class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index","Home")</li>
                    <li><a href="#">Vision</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content colored">
<div class="container">
    <div class="row">
        <div class="main col-sm-6"> 
            <h1 data-animation-delay="50" data-animation-direction="from-bottom" class="section-title animate-from-bottom animation-from-bottom">Our Vision</h1>
             <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250"><strong>Lankabookin.com</strong> to be the leading agency in the travel industry providing efficient & effective services to our customers.</p>
             <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">To be the leading agency in the travel industry providing innovative receptive tourism solutions, guaranteeing excellent customer service that commit to sustainable tourism.</p>
              
        </div>

        <div class="sidebar colored col-sm-6" style="min-height: 2128px;">
            <h1 class="section-title animate-from-bottom animation-from-bottom" data-animation-delay="50" data-animation-direction="from-bottom">Our MISSION</h1>
            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">Exceeding the travel expectations & desires of our clients and turning their visit into a memorable experience, and to provide social and environmentally responsible incoming tourism solutions.</p>
        </div>

    </div>
</div>
</div>

