﻿@{
    ViewBag.Title = "WhyHost";
}


@*		<div class="parallax" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
						<img src="~/Images/logo-small.png" /><h2>Coming Soon</h2>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
					</div>
				</div>
			</div>
		</div>*@

<div class="parallax colored-bg pattern-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title">Become a host</h1>

                <ul class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index","Home")</li>
                    <li><a href="#">Become a host</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-sm-12">

        <!-- BEGIN HIGHLIGHT -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="main col-sm-12">
                        <div class="">
                            <h2 class="section-highlight" data-animation-direction="from-left" data-animation-delay="50">Become a host </h2>
                            <br />
                            <br />

                            <div class="row padded padded_double">
                            <div class="box-type-1 col-sm-4 highlight highlight_center">
                                <div class="highlight-text highlight-text_center">
                                    <p class="highlight-subtitle">Easily list and showcase your property or properties.<br /></p>
                                </div>
                                <hr class="visible-xs">
                            </div>
                            <div class="box-type-1 col-sm-4 highlight highlight_center">
                                <div class="highlight-text highlight-text_center">
                                    <p class="highlight-subtitle">You got your own property profile where you can do any changes anytime.</p>
                                </div>
                                <hr class="visible-xs">
                            </div>
                            <div class="box-type-1 col-sm-4 highlight highlight_center">
                                <div class="highlight-text highlight-text_center">
                                    <p class="highlight-subtitle">Welcome your guests then receive your rental fee from Lankabookin.com, no chasing for payment.</p>
                                </div>
                            </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4 box-type-2"></div>
                                <div class="col-sm-4 box-type-2">
                                    <div class="link">
                                    <button class="btn btn-primary-orange btn-block" id="search" type="submit">
                            <i class="icon-search icon-flip-horizontal"></i>List your property 
                            </button>
                                    </div>
                                </div>
                            <div class="col-sm-4 box-type-2"></div>
                            </div>

                             <h1 data-animation-delay="50" data-animation-direction="from-bottom" class="section-title animate-from-bottom animation-from-bottom">Why should I list on Lankabookin.com? </h1>

                        <ul class="services">
                            <li data-animation-delay="250" data-animation-direction="from-bottom" class="col-md-12 animate-from-bottom animation-from-bottom">
                                <h3><i class="fa fa-tags"></i> Easy owner management tool. You can do any changes to your property when ever you like at anytime of the day. Changes will be updated within 1 hour. </h3>
                            </li>
                            <li data-animation-delay="450" data-animation-direction="from-bottom" class="col-md-12 animate-from-bottom animation-from-bottom">
                                <h3><i class="fa fa-tags"></i> Easy owner management tool. You can do any changes to your property when ever you like at anytime of the day. Changes will be updated within 1 hour. </h3>
                            </li>
                            <li data-animation-delay="650" data-animation-direction="from-bottom" class="col-md-12 animate-from-bottom animation-from-bottom">
                                <h3><i class="fa fa-tags"></i> List your property with us and your property will be automatically show on popular international sites. </h3>
                            </li>
                            <li data-animation-delay="850" data-animation-direction="from-bottom" class="col-md-12 animate-from-bottom animation-from-bottom">
                                <h3><i class="fa fa-tags"></i> Maximum exposure. Become a super host and reach millions of travelers each month.  </h3>
                            </li>
                             <li data-animation-delay="450" data-animation-direction="from-bottom" class="col-md-12 animate-from-bottom animation-from-bottom">
                                <h3><i class="fa fa-tags"></i> We’re totally safe. We handle all payments for you using a secure payment system.</h3>
                            </li>
                            <li data-animation-delay="650" data-animation-direction="from-bottom" class="col-md-12 animate-from-bottom animation-from-bottom">
                                <h3><i class="fa fa-tags"></i> We work hard for you. We invest in making sure your home can be seen and found in search engine results.</h3>
                            </li>
                            <li data-animation-delay="850" data-animation-direction="from-bottom" class="col-md-12 animate-from-bottom animation-from-bottom">
                                <h3><i class="fa fa-tags"></i> Get help from our professional team. We are available 24/7. </h3>
                            </li>
                        </ul>


                            <h1 class="section-title animate-from-bottom animation-from-bottom" data-animation-direction="from-bottom" data-animation-delay="50">Reviews by of our owners:</h1>
                             <p data-animation-delay="250" data-animation-direction="from-left" class="darker-text animate-from-left animation-from-left">“<strong>Lankabookin.com</strong> was recommended by a friend of mine who said I could make the most out of my empty villa when I was away. It’s free to list so I thought I would give it a try. After a few days, I was fully booked for 03 weeks. This helped me pay for my own expenses!” – Villa Arali, Kumari</p>
              
                             <br />
                            <br />
                            <p data-animation-delay="250" data-animation-direction="from-left" class="darker-text animate-from-left animation-from-left">“I listed my apartment and within a week I got a booking for 4 months. Life is good.” – Ranjith, 02 B/R house in Dehiwala</p>

                             <br />
                            <br />




                          
                            
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
        <!-- END HIGHLIGHT -->

    </div>
</div>







