﻿<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
    <title>Sri Lanka Holiday Rentals, Homes, Apartments &amp; Rooms for Rent – Lankabookin</title>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Reserve your holiday bookings to Sri Lanka Now. Unbelievable savings on selected packages. Customize your favorite locations & tours with LankaBookIn." />
    <meta name="keywords" content="Sri Lanka holidays, holidays to Sri Lanka, holidays in sri lanka, tour package holidays to sri lanka" />

    <script src="~/Scripts/jquery-1.11.1.min.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/signin.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/signin.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/cozy-real-estate-font.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/fav_touch_icons/favicon.ico" />
    <link rel="apple-touch-icon" href="~/Images/fav_touch_icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Images/fav_touch_icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Images/fav_touch_icons/apple-touch-icon-114x114.png" />

    <!--google font-->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,200,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Andika' rel='stylesheet' type='text/css'>


    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Revolution Slider CSS settings -->
    <link rel="stylesheet" type="text/css" href="~/rs-plugin/css/settings.css" media="screen" />

    <!-- Template CSS -->
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" />


    <!-- Modernizr -->
    <script src="~/Scripts/modernizr-2.8.1.min.js"></script>


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/gridmvc")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/gridmvcss")



</head>
<body>

    <div id="wrapper" class="admin-layout">
        <header id="header">
            <div id="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">


                            <ul id="top-buttons">
                             
                                    @Html.Partial("_LoginPartial")
                               

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="nav-section" class="navbar-inner nav-section-color">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="nav-logo" href="/">
                                <img alt="Lanka Bookin" src="/Images/logo.png"></a>
                            </div>
                        <div class="col-sm-12">
                            <!-- BEGIN MAIN MENU -->
                            <nav class="navbar admin-nav" id="">
                                <button id="nav-mobile-btn"><i class="fa fa-bars"></i></button>

                                <ul class="nav navbar-nav">
                                    <li class="dropdown">@Html.ActionLink("User", "Index", "User", null, new { @class = "set-padding" })</li>
                                    <li class="dropdown">@Html.ActionLink("UserRoles", "Index", "UserRole", null, new { @class = "set-padding" })</li>
                                    <li class="dropdown">@Html.ActionLink("Listings", "Index", "AdminApartment", null, new { @class = "set-padding" })</li>
                                    <li class="dropdown">@Html.ActionLink("Districts", "Index", "District", null, new { @class = "set-padding" })</li>
                                    <li class="dropdown">@Html.ActionLink("Cities", "Index", "City", null, new { @class = "set-padding" })</li>
                                    <li class="dropdown">@Html.ActionLink("Tour Category", "Index", "Category", null, new { @class = "set-padding" })</li>
                                    <li class="dropdown">@Html.ActionLink("Tour", "Index", "Tour", null, new { @class = "set-padding" })</li>
                                    <li class="dropdown">@Html.ActionLink("AccomadationType", "Index", "AccomadationType", null, new { @class = "set-padding" })</li>
                                    <li class="dropdown">@Html.ActionLink("Amenities", "Index", "Facility", null, new { @class = "set-padding" })</li>
                                    <li class="dropdown">@Html.ActionLink("Booking Requests", "Index", "AdminBookingRequest", null, new { @class = "set-padding" })</li>
                                    <li class="dropdown">@Html.ActionLink("Tour Requests", "Index", "AdminTourRequest", null, new { @class = "set-padding" })</li>


                                </ul>

                            </nav>
                            <!-- END MAIN MENU -->

                        </div>
                    </div>
                </div>
            </div>



        
            @*        <div class="navbar-wrapper navbar-inverse" id="nav-section">
                <nav class="navbar navbar-inverse navbar-static-top f-l">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"></a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav" id="menu">

                                <li>@Html.ActionLink("User", "Index", "User")</li>
                                <li>@Html.ActionLink("UserRoles", "Index", "UserRole")</li>
                                <li>@Html.ActionLink("Listings", "Index", "AdminApartment")</li>
                                <li>@Html.ActionLink("Districts", "Index", "District")</li>
                                <li>@Html.ActionLink("Cities", "Index", "City")</li>
                                <li>@Html.ActionLink("Tour Category", "Index", "Category")</li>
                                <li>@Html.ActionLink("Tour", "Index", "Tour")</li>
                                <li>@Html.ActionLink("AccomadationType", "Index", "AccomadationType")</li>
                                <li>@Html.ActionLink("Amenities", "Index", "Facility")</li>
                                <li>@Html.ActionLink("Booking Requests", "Index", "AdminBookingRequest")</li>
                                <li>@Html.ActionLink("Tour Requests", "Index", "AdminTourRequest")</li>

                            </ul>
                        </div>
                    </div>


            </div>*@

        </header>
        <div class="clear-fix"></div>
        <div id="body">
            <div class="container main">
                <div class="row">
                    <div class="col-md-12">
                        @RenderSection("featured", required: false)
                        <section class="content-wrapper main-content clear-fix">
                            @RenderBody()
                        </section>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="main-footer">
        <div class="container">
        </div>
    </div>
    <div id="bottom-footer">
        <div class="container">
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
