﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title>@ViewBag.Title</title>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content='@ViewBag.Description' />
    <meta name="keywords" content="Sri Lanka holidays, holidays to Sri Lanka, holidays in sri lanka, tour package holidays to sri lanka" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
     @Styles.Render("~/Content/bootstarp")
    <link href="~/Content/flexslider.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/features.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/justifiedGallery.min.css" type="text/css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/common.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jqueryui")


    <script src="~/Scripts/jquery.MetaData.js" type="text/javascript"></script>

    @Styles.Render("~/Content/css")

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-66877564-1', 'auto');
        ga('send', 'pageview');

   </script>

    <!-- Revolution Slider CSS settings -->
    <link rel="stylesheet" type="text/css" href="~/rs-plugin/css/settings.css" media="screen" />


    <!--Begin Bontact Script-->
    <script type='text/javascript'>
        var bontactCustomer = 'CBOBRNHBJSB-TULHFRWKSC-VUANOEDCJN-RADPIHUVOD-GHTUSCXIL';
        var locationRoot = (('https:' == document.location.protocol) ? 'https://' : 'http://');
        var newElem = document.createElement('script');
        newElem.setAttribute('src', locationRoot + 'dashboard.bontact.com/widget/bontact.script.js');
        newElem.setAttribute('type', 'text/javascript');
        document.getElementsByTagName('head')[0].appendChild(newElem);
    </script>
    <!--End Bontact Script-->

    <script>
        colorboxConf = {
            maxWidth: '80%',
            maxHeight: '80%',
            opacity: 0.8,
            transition: 'elastic',
            current: ''
        };
    </script>
</head>
<body>
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">

        <!-- BEGIN HEADER -->



        <header id="header">
            <div id="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--
                           <ul id="top-info">
                                <li></li>
                                <li></li>
                            </ul>
                                -->

                            @Html.Partial("_LoginPartial")

                        </div>
                    </div>
                </div>
            </div>

            <div id="nav-section" class="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="/" class="nav-logo">
                                <img src="~/Images/logo.png" alt="Lanka Bookin" /></a>

                            <!-- BEGIN MAIN MENU -->
                            <nav class="navbar">
                                <button id="nav-mobile-btn"><i class="fa fa-bars"></i></button>

                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        @Html.ActionLink("Home", "Index", "Home")
                                    </li>

                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                                    <li class="call-us"><a href="callto:+94757232588" style="padding-right: 0px;">
                                        <img src="~/Images/logo-call.png" /><span style="text-transform: capitalize">Call Us   +94 75 723 2588</span></a></li>
                                </ul>

                            </nav>
                            <!-- END MAIN MENU -->

                        </div>
                    </div>
                </div>
            </div>

        </header>
        <div id="body">

            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>

        </div>

    </div>


    <footer id="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget-wrapper rs-mb">
                        <img src="~/Images/logo.png" alt="Lanka Bookin">
                        <address>
                            <strong>Lanka BookIn</strong><br />
                            No.82, Galle Road,
                            Colombo - 04, Sri Lanka
                        </address>
                        <p class="copy-right">&copy; 2015 <a href="#">LankaBookIn</a>. All Right Reserved</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget-wrapper rs-mb">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <h3 class="widget-title">Discover</h3>
                                <ul class="small-menu">
                                    <li><a href="/Home/TrustSafty" title="Trust and Safty">Trust and Safety</a></li>
                                    <li><a href="/Home/LankabookinPics" title="Lankabookin Pics">Lankabookin Pics</a></li>
                                    <li><a href="/Home/Mobile" title="Mobile">Mobile</a></li>
                                    <li><a href="/Home/WhyHost" title="Why Host">Why Host</a></li>
                                    <li><a href="/Home/Vision" title="Why Host">Vision</a></li>
                                    <li><a href="/Home/Newtolankabookin" title="Why Host">New to Lankabookin</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <h3 class="widget-title">Company</h3>
                                <ul class="small-menu">
                                    <li><a href="/Home/About" title="About Us">About Us</a></li>
                                    <li><a href="/Home/Blog" title="Blog">Blog</a></li>
                                    <li><a href="/Home/Policies" title="Policies">Policies</a></li>
                                    <li><a href="/Home/ResponsibleHosting" title="Responsible Hosting">Responsible Hosting</a></li>
                                    <li><a href="/Home/TermsPrivacy" title="Terms and Privacy">Terms and Privacy</a></li>
                                    <li><a href="/Home/Health" title="Health">Health </a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget-wrapper">

                        <h3 class="widget-title">Let's Socialize</h3>
                        <ul class="small-menu">
                            <li>
                                <div class="social tooltips">
                                    <a href="https://www.facebook.com/pages/Lanka-Bookin/419991561526254?ref=profile" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/BookinLanka" data-toggle="tooltip" data-placement="top" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.pinterest.com/lankabookin/" data-toggle="tooltip" data-placement="top" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                    <a href="https://plus.google.com/110607252027421738084/posts?hl=en" data-toggle="tooltip" data-placement="top" target="_blank" title="Google+"><i class="fa fa-google-plus"></i></a>
                                    <a href="https://www.flickr.com/cameraroll" data-toggle="tooltip" data-placement="top" target="_blank" title="Flickr"><i class="fa fa-flickr"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="bottom-footer">
        <div class="container">
            <div class="text-center">
                <a class="totop"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>

    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/infobox.min.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/variables.js"></script>

    <link href="~/Content/jquery.rating.css" type="text/css" rel="stylesheet" />

    <script src='~/Scripts/moment.min.js'></script>
    <script src="~/Scripts/jquery.flexslider.js"></script>
    <script src="~/Scripts/flex-slider.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/signin.js"></script>

    <script src="~/Scripts/bootstrap-checkbox.js"></script>


    <!-- jQuery Revolution Slider -->
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>

    <script src="~/Scripts/jquery.justifiedGallery.min.js"></script>
    <script src="~/Scripts/jquery.rating.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.montage.min.js" type="text/javascript"></script>


    <script type="text/javascript">
        $(function () {
            /* 
             * just for this demo:
             */
            $('#showcode').toggle(
                function () {
                    $(this).addClass('up').removeClass('down').next().slideDown();
                },
                function () {
                    $(this).addClass('down').removeClass('up').next().slideUp();
                }
            );
            $('#panel').toggle(
                function () {
                    $(this).addClass('show').removeClass('hide');
                    $('#overlay').stop().animate({ left: -$('#overlay').width() + 20 + 'px' }, 300);
                },
                function () {
                    $(this).addClass('hide').removeClass('show');
                    $('#overlay').stop().animate({ left: '0px' }, 300);
                }
            );


        });
    </script>


    @RenderSection("scripts", required: false)

</body>
</html>
