﻿@if (Request.IsAuthenticated) {
    <div class="logoff">
        <span class="h-t">Hello,  @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" }) !</span>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="">Log off</a>
        }
    </div>
}
else
{
    <ul id="top-buttons">
        <li><i class="fa fa-sign-in"></i> @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="divider"></li>
        <li><i class="fa fa-pencil-square-o"></i>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
