﻿<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
    <title>Sri Lanka Holiday Rentals, Homes, Apartments &amp; Rooms for Rent – Lankabookin</title>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Reserve your holiday bookings to Sri Lanka Now. Unbelievable savings on selected packages. Customize your favorite locations & tours with LankaBookIn." />
    <meta name="keywords" content="Sri Lanka holidays, holidays to Sri Lanka, holidays in sri lanka, tour package holidays to sri lanka" />

@*    <script src="~/Scripts/jquery-1.11.1.min.js"></script>*@

    <link href='~/Content/fullcalendar.css' rel='stylesheet' />
    <link href='~/Content/fullcalendar.print.css' rel='stylesheet' media='print' />
    <script src='~/Scripts/moment.min.js'></script>
    <script src='~/Scripts/jquery.min.js'></script>
    <script src='~/Scripts/fullcalendar.min.js'></script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/signin.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/signin.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/cozy-real-estate-font.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/fav_touch_icons/favicon.ico" />
    <link rel="apple-touch-icon" href="~/Images/fav_touch_icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Images/fav_touch_icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Images/fav_touch_icons/apple-touch-icon-114x114.png" />

    <!--google font-->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,200,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Andika' rel='stylesheet' type='text/css'>


    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Revolution Slider CSS settings -->
    <link rel="stylesheet" type="text/css" href="~/rs-plugin/css/settings.css" media="screen" />

    <!-- Template CSS -->
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" />


    <!-- Modernizr -->
    <script src="~/Scripts/modernizr-2.8.1.min.js"></script>
    @Styles.Render("~/Content/css")

@*    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")*@
    @Styles.Render("~/Content/themes/base/css")

        @Scripts.Render("~/bundles/gridmvc")
        @Styles.Render("~/Content/gridmvcss")
   
        <script type='text/javascript'>
            var bontactCustomer = 'CBOBRNHBJSB-TULHFRWKSC-VUANOEDCJN-RADPIHUVOD-GHTUSCXIL';
            var locationRoot = (('https:' == document.location.protocol) ? 'https://' : 'http://');
            var newElem = document.createElement('script');
            newElem.setAttribute('src', locationRoot + 'dashboard.bontact.com/widget/bontact.script.js');
            newElem.setAttribute('type', 'text/javascript');
            document.getElementsByTagName('head')[0].appendChild(newElem);
    </script>   
       



</head>
<body>

    <div id="wrapper" class="admin-layout">

        <!-- BEGIN HEADER -->
        
        <header id="header">
            <div id="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--<ul id="top-info">
                                <li>Phone: 800-123-4567</li>
                                <li>Email: <a href="mailto:hello@yourcompany.com">hello@yourcompany.com</a></li>
                            </ul>-->

                            <ul id="top-buttons">
                                @Html.Partial("_LoginPartial")
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="nav-section" class="navbar-inner nav-section-color">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="/" class="nav-logo">
                                <img src="~/Images/logo.png" alt="Lanka Bookin" /></a>
                            </div>
                        <div class="col-sm-12">
                            <!-- BEGIN MAIN MENU -->


                



                            <nav class="navbar admin-nav">
                                <button id="nav-mobile-btn"><i class="fa fa-bars"></i></button>

                                <ul id="menu1" class="nav navbar-nav">
                                <li>@Html.ActionLink("Manage", "Manage", "Account")</li>
                                @if (User.IsInRole("Public"))
                                {
                                    <li>@Html.ActionLink("User WishList", "Index", "UserWishList")</li>
                                    <li>@Html.ActionLink("Booking History", "Index", "BookingRequest")</li>
                                    <li>@Html.ActionLink("Tour History", "Index", "TourRequest")</li>
                                }
                                @if (User.IsInRole("Internal"))
                                {
                                    <li>@Html.ActionLink("My Apartments", "Index", "Apartment")</li>
                                }
                            </ul>

                            </nav>
                            <!-- END MAIN MENU -->

                        </div>
                    </div>
                </div>
            </div>

        </header>


        <div id="body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        @RenderSection("featured", required: false)
                        <section class="content-wrapper main-content clear-fix">
                            @RenderBody()
                        </section>
                        
                    </div>
                </div>
            </div>
        </div>
 <footer id="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget-wrapper rs-mb">
                        <img src="~/Images/logo.png" alt="Lanka Bookin">
                        <address>
                            <strong>Lanka BookIn</strong><br />
                            643, Address 1, Address 2,
                            Address 3, Colombo, Sri Lanka
                        </address>
                        <p class="copy-right">&copy; 2015 <a href="#">LankaBookIn</a>. All Right Reserved</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget-wrapper rs-mb">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <h3 class="widget-title">Discover</h3>
                                <ul class="small-menu">
                                    <li><a href="/Home/TrustSafty" title="Trust and Safty">Trust and Safty</a></li>
                                    <li><a href="/Home/LankabookinPics" title="Lankabookin Pics">Lankabookin Pics</a></li>
                                    <li><a href="/Home/Mobile" title="Mobile">Mobile</a></li>
                                    <li><a href="/Home/WhyHost" title="Why Host">Why Host</a></li>
                                    <li><a href="/Home/Vision" title="Why Host">Vision</a></li>
                                    <li><a href="/Home/Newtolankabookin" title="Why Host">New to LankaBoolin</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <h3 class="widget-title">Company</h3>
                                <ul class="small-menu">
                                    <li><a href="/Home/About" title="About Us">About Us</a></li>
                                    <li><a href="/Home/Blog" title="Blog">Blog</a></li>
                                    <li><a href="/Home/Policies" title="Policies">Policies</a></li>
                                    <li><a href="/Home/ResponsibleHosting" title="Responsible Hosting">Responsible Hosting</a></li>
                                    <li><a href="/Home/TermsPrivacy" title="Terms and Privacy">Terms and Privacy</a></li>
                                    <li><a href="/Home/Health" title="Health">Health </a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget-wrapper">
                        
                        <h3 class="widget-title">Let's Socialize</h3>
                        <ul class="small-menu">
                            <li>
                            <div class="social tooltips">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="bottom-footer">
        <div class="container">
           @* <ul class="small-menu-inline">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Typography</a></li>
                <li><a href="#">Elements</a></li>
                <li><a href="#">Contact</a></li>
            </ul>*@

            <div class="text-center">
                <a class="totop"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
        </div>
</body>
</html>
