﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>

            <hgroup class="title">
                <h1 class="error">Error.</h1>
                <h2 class="error">An error occurred while processing your request.</h2>
            </hgroup>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
