﻿@{
    ViewBag.Title = "NotFound";
}


		<div class="parallax" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
						<h2>The Page you are looking for is not avialble. Please check the URL</h2>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
					</div>
				</div>
			</div>
		</div>


