﻿@model LankaBookin.Models.Apartment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-md-12">
    <h2>Create</h2>
</div>
<div class="submit-progress hidden">

    <label>Please wait while Saving Data...</label>

</div>

@using (Html.BeginForm("Create", "AdminApartment", FormMethod.Post,
                            new { enctype = "multipart/form-data", id = "Form" }))
{
    @Html.ValidationSummary(true)

 

    @Html.Hidden("RefNo", (String)ViewBag.RefNo)

    @Html.Hidden("Lat", "")
    @Html.Hidden("Lan", "")
    <div class="col-md-12">
        <div class="editor-label">
            @Html.LabelFor(model => model.RefNo) : 
             @Html.Label((String)ViewBag.RefNo)
        </div>
    </div>
    <div class="col-md-12">
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name, "", new { id = "nameVal" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
    </div>
    <div class="col-md-6">
        <div class="editor-label">
            @Html.LabelFor(model => model.Address2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address2)
            @Html.ValidationMessageFor(model => model.Address2)
        </div>
    </div>
    <div class="col-md-6">
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
    <div class="col-md-6">
        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="editor-label">
            @Html.LabelFor(model => model.MetaDescription)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.MetaDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MetaDescription)
        </div>
    </div>
    
    <div class="clearfix">&nbsp;</div>
    <div class="col-md-12">
        <label>Select Accomadation Type : </label>
        @foreach (var item in ViewBag.AccomadationTypes)
        {
            <input type="checkbox" class="" id="Acc@(item.Id)" name="Acc@(item.Id)" />
            @item.AccomadationName
        }

    </div>
    <div class="col-md-12">
        <div class="editor-label">
            @Html.EditorFor(model => model.IsPerRoom)
            @Html.LabelFor(model => model.IsPerRoom)

            @Html.ValidationMessageFor(model => model.IsPerRoom)
        </div>
    </div>
    <div class="col-md-12">
        <div class="editor-label">
            <input type="checkbox" id="wholecheck" />
            @Html.Label("Whole villa basis")
        </div>
    </div>
    <div id="Whole">
        <div class="col-md-4">
            <div class="editor-label">
                @Html.LabelFor(model => model.WholePricePerDay)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WholePricePerDay)
                @Html.ValidationMessageFor(model => model.WholePricePerDay)
            </div>
        </div>
        <div class="col-md-4">
            <div class="editor-label">
                @Html.LabelFor(model => model.WholePricePerWeek)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WholePricePerWeek)
                @Html.ValidationMessageFor(model => model.WholePricePerWeek)
            </div>
        </div>
        <div class="col-md-4">
            <div class="editor-label">
                @Html.LabelFor(model => model.WholePricePerMonth)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WholePricePerMonth)
                @Html.ValidationMessageFor(model => model.WholePricePerMonth)
            </div>
        </div>
        <div class="col-md-4">
            <div class="editor-label">
                @Html.LabelFor(model => model.MaxHeadCount)
            </div>
            <div class="editor-field">
                @Html.DropDownList("MaxHeadCount", (SelectList)ViewBag.MaxHeadCount)
                @Html.ValidationMessageFor(model => model.MaxHeadCount)
            </div>
        </div>
        <div class="col-md-4">
            <div class="editor-label">
                @Html.LabelFor(model => model.NoOfBedrooms)
            </div>
            <div class="editor-field">
                @Html.DropDownList("NoOfBedrooms", (SelectList)ViewBag.NoOfBedrooms)
                @Html.ValidationMessageFor(model => model.NoOfBedrooms)
            </div>
        </div>
        <div class="col-md-4">
            <div class="editor-label">
                @Html.LabelFor(model => model.NoOfBathrooms)
            </div>
            <div class="editor-field">
                @Html.DropDownList("NoOfBathrooms", (SelectList)ViewBag.NoOfBathrooms)
                @Html.ValidationMessageFor(model => model.NoOfBathrooms)
            </div>
        </div>
    </div>

    <div id="room">
        <div class="col-md-12">
            <div class="editor-label">
                @Html.LabelFor(model => model.PricePerRoom)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PricePerRoom)
                @Html.ValidationMessageFor(model => model.PricePerRoom)
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="editor-label">
            @Html.Label("Select a District")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DistrictId", (SelectList)ViewBag.DistrictId, String.Empty, new { @onchange = "javascript:GetCity(this.value);" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="editor-label">
            @Html.LabelFor(model => model.CityId, "City")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CityId", String.Empty)
            @Html.ValidationMessageFor(model => model.CityId)
        </div>
    </div>
    <div class="col-md-4">
        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>
    </div>
    <div class="col-md-6">
        @{int catId = 0;}
        @foreach (LankaBookin.Models.Facility item in ViewBag.Facilities)
        {
            if (catId != item.FacilityCategoryId)
            {
                catId = item.FacilityCategoryId;
            <div>
                <h4>@item.FacilityCategory.FacilityCategoryName</h4>

            </div>
            }

            <div>
                <input type="checkbox" id="Fac@(item.Id)" name="Fac@(item.Id)" />
                @item.FacilityName

            </div>

        }

    </div>
        
    <div class="col-md-6">
        <label class="margin-top15">Set the Location</label>
        <div id="dvMap" class="location-map" style="width: 100%">
        </div>
    </div>

    <div class="col-md-2">
        <input id="save" type="submit" value="Create" />
    </div>
    <div class="col-md-2 btn btn-info b-t-l">
        @Html.ActionLink("Back to List", "Index")
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script>

    var map;

    var marker;

    window.onload = function () {
        geocoder = new google.maps.Geocoder();
        var mapOptions = {
            center: new google.maps.LatLng(6.6, 80.3),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var infoWindow = new google.maps.InfoWindow();
        var latlngbounds = new google.maps.LatLngBounds();
        map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
    }

    function codeAddress(address) {

        if (marker != null) {
            marker.setMap(null);
        }

        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    draggable: true,
                });

                document.getElementById('Lat').value = marker.getPosition().lat();
                document.getElementById('Lan').value = marker.getPosition().lng();

                google.maps.event.addListener(marker, 'dragend', function (event) {
                    document.getElementById('Lat').value = marker.getPosition().lat();
                    document.getElementById('Lan').value = marker.getPosition().lng();
                });

                return true;
            }

            else {
                return false;
            }

        });
    }

    $(document).ready(function () {

        var namevalid = true;

        $('#Name').on('input propertychange paste', CheckValidApartmentName);

        function CheckValidApartmentName() {
            $.getJSON("/Apartment/CheckValidApartmentName", { name: $("#Name").val() },
              function (data, status) {
                  if (!data.valid) {
                      $('#nameVal').text('Apartment name is already in use');
                      namevalid = false;
                  }
                  else {
                      $('#nameVal').text('');
                      namevalid = true;
                  }
              }
          );
        }

        $("#Form").submit(function (e) {
            if ($(this).valid() && namevalid) {
                $('#save').attr('disabled', 'disabled');
                $(".submit-progress").removeClass("hidden");
                $("body").addClass("submit-progress-bg");
            }
            else {
                e.preventDefault();
                $('#save').removeAttr("disabled");
            }
        });

        $('#Whole').fadeIn('slow');
        $('#room').fadeOut('slow');
        $('#wholecheck').prop('checked', true);
        $('#IsPerRoom').prop('checked', false);

        $('#IsPerRoom').change(function () {
            if (this.checked) {
                $('#Whole').fadeOut('slow');
                $('#room').fadeIn('slow');
                $('#wholecheck').prop('checked', false);
            }
            else {
                $('#Whole').fadeIn('slow');
                $('#room').fadeOut('slow');
                $('#wholecheck').prop('checked', true);
            }

        });

        $('#wholecheck').change(function () {
            if (this.checked) {
                $('#Whole').fadeIn('slow');
                $('#room').fadeOut('slow');
                $('#IsPerRoom').prop('checked', false);
            }
            else {
                $('#Whole').fadeOut('slow');
                $('#room').fadeIn('slow');
                $('#IsPerRoom').prop('checked', true);
            }

        });

        //$('#Address').change(function () {
        //    var address1 = $('#Address').val();
        //    var address2 = $('#Address2').val();
        //    var address = address1 + ' ' + address2;
        //    var result = codeAddress(address);
        //    if (!result) {
        //        result = codeAddress(address2);
        //    }
        //});

        $('#Address2').change(function () {
            var address1 = $('#Address').val();
            var address2 = $('#Address2').val();
            var address = address1 + ' ' + address2;
            var result = codeAddress(address2);

        });
    });

    function GetCity(_districtid) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#CityId").html(procemessage).show();
        var url = "/Apartment/GetCityByDisId/";

        $.ajax({
            url: url,
            data: { districtid: _districtid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#CityId").html(markup).show();
            },
            error: function (reponse) {
            }
        });

    }

</script>




