﻿@model LankaBookin.Models.Apartment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<p>&nbsp;</p>
<fieldset>

    @Html.HiddenFor(model => model.Id)
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    </div>
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rate)
    </div>
</div>
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address2)
    </div>
        </div>
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field dis-i-d">
        @Html.DisplayFor(model => model.Description)
    </div>
        </div>
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsPerRoom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPerRoom)
    </div>
        </div>
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxHeadCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxHeadCount)
    </div>
        </div>
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.Name)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.User.Name)
    </div>
        </div>
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.City.CityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City.CityName)
    </div>
        </div>
</fieldset>
@using (Html.BeginForm()) {
    <div class="col-md-2">
        <input type="submit" value="Delete" />
        </div>
        <div class="col-md-2 btn btn-info b-t-l">
            @Html.ActionLink("Back to List", "Index")
            </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
}
