﻿@model LankaBookin.Models.Apartment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>
    <legend>Apartment</legend>

    @if (Directory.Exists(Server.MapPath("~/Images/Apartment/" + Model.Name))){
        foreach (var imgPath in Directory.GetFiles(Server.MapPath("~/Images/Apartment/" + Model.Name)))
        {
            var img = new FileInfo(imgPath);
            <img class="col-md-2 no-p-l" src="@Url.Content(String.Format("~/Images/Apartment/{0}/{1}", Model.Name, img.Name))" id="img" style="height:100px; margin-bottom:20px;" />
        }
    }

    @Html.HiddenFor(model => model.Lan, new {id="Lan" })
    @Html.HiddenFor(model => model.Lat,new {id="Lat" })
<div class="col-md-12 b-b-sec">
    <h3>
        @Html.DisplayFor(model => model.RefNo)
    </h3>
</div>
    <div class="col-md-12 b-b-sec">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field dis-i-d">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>

    <div class="col-md-12 b-b-sec">
    <div class="display-label">
        @Html.Display("Property Owner")
    </div>
    <div class="display-field dis-i-d">
        @Html.DisplayFor(model => model.User.Name)
    </div>
    </div>
    <div class="col-md-12 b-b-sec">
    <div class="display-label">
       @Html.Display("Property Owner Contact Details")
    </div>
    <div class="display-field dis-i-d">
        @Html.DisplayFor(model => model.User.Phone)
    </div>
        </div>
    <div class="col-md-12 b-b-sec">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Rate)
    </div>
    <div class="display-field  dis-i-d">
        @Html.DisplayFor(model => model.Rate)
    </div>
        </div>
    <div class="col-md-6 b-b-sec">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field  dis-i-d">
        @Html.DisplayFor(model => model.Address)
    </div>
        </div>
    <div class="col-md-6 b-b-sec">

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Address2)
    </div>
    <div class="display-field  dis-i-d">
        @Html.DisplayFor(model => model.Address2)
    </div>
        </div>
    <div class="col-md-12 b-b-sec">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field  dis-i-d">
        @Html.DisplayFor(model => model.Description)
    </div>
        </div>
    <div class="col-md-12 b-b-sec">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Remarks)
    </div>
    <div class="display-field  dis-i-d">
        @Html.DisplayFor(model => model.Remarks)
    </div>
        </div>
    <div class="col-md-12 b-b-sec">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.IsPerRoom)
    </div>
    <div class="display-field  dis-i-d">
        @Html.DisplayFor(model => model.IsPerRoom)
    </div>
        </div>
    @if (Model.IsPerRoom)
    {
        <div class="col-md-6 b-b-sec">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.PricePerRoom)
        </div>
        <div class="display-field  dis-i-d">
            @Html.DisplayFor(model => model.PricePerRoom)
        </div>
            </div>
    }
    else
    {
        <div class="col-md-4 b-b-sec">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.WholePricePerDay)
        </div>
        <div class="display-field  dis-i-d">
            @Html.DisplayFor(model => model.WholePricePerDay)
        </div>
            </div>
         <div class="col-md-4 b-b-sec">               
        <div class="display-label">
            @Html.DisplayNameFor(model => model.WholePricePerWeek)
        </div>
        <div class="display-field  dis-i-d">
            @Html.DisplayFor(model => model.WholePricePerWeek)
        </div>
          </div>
        <div class="col-md-4 b-b-sec">              
        <div class="display-label">
            @Html.DisplayNameFor(model => model.WholePricePerMonth)
        </div>
        <div class="display-field dis-i-d">
            @Html.DisplayFor(model => model.WholePricePerMonth)
        </div>
        </div>
        <div class="col-md-4 b-b-sec">                
        <div class="display-label">
            @Html.DisplayNameFor(model => model.MaxHeadCount)
        </div>
        <div class="display-field  dis-i-d">
            @Html.DisplayFor(model => model.MaxHeadCount)
        </div>
        </div>
        <div class="col-md-4 b-b-sec">                
        <div class="display-label">
            @Html.DisplayNameFor(model => model.NoOfBathrooms)
        </div>
        <div class="display-field  dis-i-d">
            @Html.DisplayFor(model => model.NoOfBathrooms)
        </div>
          </div>
        <div class="col-md-4 b-b-sec">              
        <div class="display-label">
            @Html.DisplayNameFor(model => model.NoOfBedrooms)
        </div>
        <div class="display-field  dis-i-d">
            @Html.DisplayFor(model => model.NoOfBedrooms)
        </div>
            </div>
    }
    <div class="col-md-12 b-b-sec">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.CityId)
    </div>
    <div class="display-field  dis-i-d">
        @Html.DisplayFor(model => model.City.CityName)
    </div>
</div>
<p>&nbsp;</p>
    <div class="col-md-12">
    <h3>Amenities</h3>

<div class="col-md-12 b-b-sec">

    <div class="block-sec-amenities">

        <div class="facility-h">
            <h5>General</h5>
        </div>

        @foreach (LankaBookin.Models.Facility item in Model.Facilities.Where(f => f.FacilityCategoryId == 1))
        {
            <div class="three-col-list amenties-col-two">
                <span>
                    @item.FacilityName
                </span>
            </div>
        }

    </div>

    <div class="block-sec-amenities">

        <div class="facility-h">
            <h5>Outdoor and Internet</h5>
        </div>

        @foreach (LankaBookin.Models.Facility item in Model.Facilities.Where(f => f.FacilityCategoryId == 2))
        {
            <div class="three-col-list amenties-col-two">
                <span>
                    @item.FacilityName
                </span>
            </div>
        }

    </div>

    <div class="block-sec-amenities">

        <div class="facility-h">
            <h5>Property</h5>
        </div>

        @foreach (LankaBookin.Models.Facility item in Model.Facilities.Where(f => f.FacilityCategoryId == 3))
        {
            <div class="three-col-list amenties-col-two">
                <span>
                    @item.FacilityName
                </span>
            </div>
        }

    </div>

    <div class="block-sec-amenities">

        <div class="facility-h">
            <h5>Kitchen</h5>
        </div>

        @foreach (LankaBookin.Models.Facility item in Model.Facilities.Where(f => f.FacilityCategoryId == 4))
        {
            <div class="three-col-list amenties-col-two">
                <span>
                    @item.FacilityName
                </span>
            </div>
        }

    </div>

    <div class="block-sec-amenities">

        <div class="facility-h">
            <h5>Entertainment</h5>
        </div>

        @foreach (LankaBookin.Models.Facility item in Model.Facilities.Where(f => f.FacilityCategoryId == 5))
        {
            <div class="three-col-list amenties-col-two">
                <span>
                    @item.FacilityName
                </span>
            </div>
        }

    </div>

</div>
<p>&nbsp;</p>
<div class="col-md-12 no-p-l">
    <h3>Apartment Accomadations </h3>
    <div class="clearfix">&nbsp;</div>
    <ul class="property-features col-md-12">
        @foreach (var acc in Model.Accomadations)
        {
            
            <li class="col-md-2" style="float: left; width: 200px">@acc.AccomadationName</li>
            
        }
    </ul>
</div>


<p>&nbsp;</p>
</div>


<p>&nbsp;</p>
    <div class="col-md-12">
            <label>Location</label>
             <div id="dvMap" style="width: 100%; height: 500px">
            </div>
       </div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="col-md-12">
<div class="col-md-2 btn btn-primary link-c-n">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</div>
<div class="col-md-2 btn btn-info">
    @Html.ActionLink("Back to List", "Index")
</div>
    </div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script>

    var map;

    var marker;

    window.onload = function () {
        geocoder = new google.maps.Geocoder();
        var mapOptions = {
            center: new google.maps.LatLng(6.6, 80.3),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var infoWindow = new google.maps.InfoWindow();
        var latlngbounds = new google.maps.LatLngBounds();
        map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
        drawLocation();
    }

    function drawLocation() {
        var lat = document.getElementById('Lat').value;
        var lan = document.getElementById('Lan').value;
        if (lat != ' ' && lan != ' ') {
            var markerPos = new google.maps.LatLng(lat, lan);
            marker = new google.maps.Marker({
                map: map,
                position: markerPos,
                draggable: false,
            });

        }
    }

</script>
