﻿@model IEnumerable<LankaBookin.Models.Apartment>
@using GridMvc.Html

@{
    ViewBag.Title = "Listings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h2>@ViewBag.Title</h2>
<div class="clear-fix">&nbsp;</div>
<div class="btn btn-danger link-c-n">
    @Html.ActionLink("Create New", "Create")
</div>

@Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.Name).Titled("Apartment Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.RefNo).Titled("RefNo").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.City.CityName).Titled("City").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.User.UserName).Titled("User Name").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("View", "Details", "AdminApartment", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());
              columns.Add().Titled("Actions").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", "AdminApartment", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-success" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Delete", "Delete", "AdminApartment", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-danger modal-link" }).ToHtmlString());

          }).WithPaging(10)



