﻿@{
    ViewBag.Title = "Apartment Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="submit-progress hidden">

  <label>Please wait while Saving Data...</label>

</div>

<label for="file">Upload Profile Image</label>
<input type="file" name="MainImage" id="MainImage" style="width: 100px" />

<div style="clear: both"></div>

<div id="mainImage">
</div>

<div style="clear: both"></div>

<label for="file">Click to Add Images:(Maxmimum 15 images)</label>

<input type="file" id="Images" />

<div style="clear: both"></div>

<div id="divImage">
</div>


<div style="clear: both"></div>

@Html.ActionLink("Complete Listing", "Index")

<script>
    var imageCount = 1;

    $("#MainImage").change(function () {
        $(".submit-progress").removeClass("hidden");
        $("body").addClass("submit-progress-bg");
        var data = new FormData();
        var files = $("#MainImage").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }

        var aprt =@(ViewBag.Id)

        data.append("id", aprt);

        var url = "/Apartment/UploadMainImageAsync/";

        $.ajax({
            url: url,
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (fullPath) {
                if (fullPath != '') {
                    $("#mainImage").empty();
                    var oImg = document.createElement("img");
                    oImg.setAttribute("id", imageCount);
                    oImg.setAttribute("width", "100px");
                    oImg.setAttribute("height", "100px");
                    oImg.setAttribute('src', fullPath);
                    $("#mainImage").append(oImg);
                    imageCount++;
                }
                $(".submit-progress").addClass("hidden"); 
                $("body").removeClass("submit-progress-bg");
            },
            error: function (er) {
                alert('Error uploading image');
                $(".submit-progress").addClass("hidden");
                $("body").removeClass("submit-progress-bg");
            }

        });
    });

    $("#Images").change(function () {
        $(".submit-progress").removeClass("hidden");
        $("body").addClass("submit-progress-bg");
        var data = new FormData();
        var files = $("#Images").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }

        var aprt =@(ViewBag.Id)

        data.append("id",aprt);

        var url = "/Apartment/UploadImagesAsync/";

        $.ajax({
            url: url,
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (fullPath) {
                if (fullPath != '') {
                    var oImg = document.createElement("img");
                    oImg.setAttribute("id", imageCount);
                    oImg.setAttribute("width", "100px");
                    oImg.setAttribute("height", "100px");
                    oImg.onclick = function () {
                        if (confirm('Are you sure you want to delete this image')) {
                            alert('in');
                            var id = event.target.id;
                            alert(id);
                            var item = $(event.target).attr('src');
                            alert(item);
                            $.getJSON("/Apartment/DeleteImage", { imagePath: item },
                              function (data, status) {
                                  $('#' + id).hide();
                              }
                            );
                        }
                    };

                    oImg.setAttribute('src', fullPath);
                    $("#divImage").append(oImg);
                    $("#Images").val("");
                    imageCount++;
                }
                $(".submit-progress").addClass("hidden");
                $("body").removeClass("submit-progress-bg");
            },
            error: function (er) {
                alert('Error uploading image');
                $(".submit-progress").addClass("hidden");
                $("body").removeClass("submit-progress-bg");
            }

        });
    });
</script>
