﻿@model IEnumerable<LankaBookin.Models.BookingRequest>
@using GridMvc.Html

@{
    ViewBag.Title = "Booking Requests";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.Apartment.Name).Titled("Apartment Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Price).Titled("Price").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.User.Name).Titled("User Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.OrderDate).Titled("OrderDate").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.CheckIn).Titled("CheckIn").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.CheckOut).Titled("CheckOut").SetWidth(120).Sortable(true).Filterable(true);


              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("View", "Details", "AdminBookingRequest", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Delete", "Delete", "AdminBookingRequest", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-danger modal-link" }).ToHtmlString());

          }).WithPaging(10)


