﻿@model LankaBookin.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<!-- BEGIN CONTENT WRAPPER -->
<div class="content">
    <div class="container">
        <div class="row">

            <!-- BEGIN MAIN CONTENT -->
            <div class="main col-sm-12">

                <div class="login col-sm-5 col-sm-offset-1">
                    <h1 class="center">Log in to your Account</h1>

                    <div class="col-sm-12">
                        <div class="form-style">

                            <div id="loginForm">
                                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="clear-fix"></div>
                                    @Html.LabelFor(m => m.UserName)
                                    @Html.TextBoxFor(m => m.UserName)
                                    @Html.ValidationMessageFor(m => m.UserName)

                                    <div class="clear-fix"></div>

                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password)
                                    @Html.ValidationMessageFor(m => m.Password)

                                    <div class="clear-fix"></div>



                                    <div class="check">@Html.CheckBoxFor(m => m.RememberMe)</div>
                                    <div class="remember">@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</div>


                                    <div class="clear-fix"></div>
                                    <input type="submit" value="Log in" class="form-control" />


                                    <p>
                                        @Html.ActionLink("Register", "Register") if you don't have an account.
                                    </p>
                                }

                            </div>


                        </div>


                    </div>
                </div>


                <div class="login-info col-sm-5 col-sm-offset-1">
                    <h1>Why should you create an account?</h1>
                    <div class="content-login">
                        <ul>
                        <li>It’s completely free. It’s completely free to list your property on our website.</li>
                        <li>Easy owner management tool. You can do any changes to your property whenever you like at any time of the day. Changes will be updated within 1 hour.</li>
                        <li>List your property with us and your property will be automatically show on popular international sites. </li>
                        <li>Maximum exposure. Become a super host and reach millions of travelers each month. </li>
                        <li>We’re totally safe. We handle all payments for you using a secure payment system</li>
                        <li>We work hard for you. We invest in making sure your home can be seen and found in search engine results</li>
                        <li>Get help from our professional team. We are available 24/7. </li>
                        </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


