﻿@model LankaBookin.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<!-- BEGIN CONTENT WRAPPER -->
<div class="content">
    <div class="container">
        <div class="row">

            <!-- BEGIN MAIN CONTENT -->
            <div class="main col-sm-12">

                <div class="login col-sm-5 col-sm-offset-1">

                    <h1 class="center">Create New Account</h1>


                    <div class="col-sm-12">
                        <div class="form-style">

                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "Form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()

                                <fieldset>

                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.UserName)
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.UserName)
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { id = "UserNameVal" })
                                    </div>

                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Email)
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.Email)
                                        @Html.ValidationMessageFor(model => model.Email, "", new { id = "EmailVal" })
                                    </div>

                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password)

                                    @Html.LabelFor(m => m.ConfirmPassword)
                                    @Html.PasswordFor(m => m.ConfirmPassword)

                                    @Html.LabelFor(m => m.Name)
                                    @Html.TextBoxFor(m => m.Name)

                                    @Html.LabelFor(m => m.Address)
                                    @Html.TextBoxFor(m => m.Address)

                                    @Html.LabelFor(m => m.Phone)
                                    @Html.TextBoxFor(m => m.Phone)

                                    <label>Select the user type</label>
                                    @{
                                        List<SelectListItem> selectList = new List<SelectListItem>();
                                            SelectListItem i = new SelectListItem();
                                            i.Text = "Public User";
                                            i.Value = "3";
                                            selectList.Add(i);

                                            SelectListItem v = new SelectListItem();
                                            v.Text = "Property Owner";
                                            v.Value = "4";
                                            selectList.Add(v);

                                        @Html.DropDownList("UserRoles", new SelectList(selectList, "Value", "Text"));
                                    }



                                    <button id="Create" type="submit" class="btn btn-success">Register</button>
                                </fieldset>
                            }


                        </div>
                    </div>

                </div>
                <div class="login-info col-sm-5 col-sm-offset-1">
                    <h1>Why should you create an account?</h1>
                    <div class="content-login">
                        <ul>
                        <li>It’s completely free. It’s completely free to list your property on our website.</li>
                        <li>Easy owner management tool. You can do any changes to your property whenever you like at any time of the day. Changes will be updated within 1 hour.</li>
                        <li>List your property with us and your property will be automatically show on popular international sites. </li>
                        <li>Maximum exposure. Become a super host and reach millions of travelers each month. </li>
                        <li>We’re totally safe. We handle all payments for you using a secure payment system</li>
                        <li>We work hard for you. We invest in making sure your home can be seen and found in search engine results</li>
                        <li>Get help from our professional team. We are available 24/7. </li>
                        </ul>
                        </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script>

    $(function () {

        var uservalid = false;
        var emailvalid = false;

        $('#UserName').on('input propertychange paste', CheckValidUserName);

        $('#Email').on('input propertychange paste', CheckValidEmail);

        function CheckValidUserName() {
            var userName = $("#UserName").val();
            var length = userName.length;

            if (length > 11) {
                $('#UserNameVal').text('InValid Length. Use Length between 6-10');
                uservalid = false;
            }
            else {
                $.getJSON("/Account/CheckValidUserName", { userName: $("#UserName").val() },
                  function (data, status) {
                      if (!data.valid) {
                          $('#UserNameVal').text('Username is already in use');
                          uservalid = false;
                      }
                      else {
                          $('#UserNameVal').text('');
                          uservalid = true;
                      }
                  }
              );
            }
        }

        function CheckValidEmail() {
            $.getJSON("/Account/CheckValidEmail", { email: $("#Email").val() },
             function (data, status) {
                 if (!data.valid) {
                     $('#EmailVal').text('Email already in use');
                     emailvalid= false;
                 }
                 else {
                     $('#EmailVal').text('');
                     emailvalid= true;
                 }
             }
         );
        }

        $("#Form").submit(function (e) {
            if (!uservalid || !emailvalid)
            {
                e.preventDefault();
            }
        });
        
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
