﻿@model LankaBookin.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tour Category</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryName)
            @Html.ValidationMessageFor(model => model.CategoryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <label for="file">Upload Profile Image</label> 
        <input type="file" name="file" id="file" style="width: 30%;" /> 
        @Html.ValidationMessage("upload")

        <div class="col-md-2">
            <input type="submit" id="submit" value="Create" />
        </div>
        <div class="col-md-2 btn btn-info b-t-l">
    @Html.ActionLink("Back to List", "Index")
</div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </fieldset>
}



<script type="text/javascript">

    //$('form').submit(function () {
    //    $('#submit').attr('disabled', 'disabled');
    //});

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
