﻿@model LankaBookin.Models.Category

@{
    ViewBag.Title = "Category Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Tour Category Details</h2>

<fieldset>
    <legend></legend>

    @{
        var img = new FileInfo(@Model.ImagePath);
        <img class="img-sec" src="@Url.Content(String.Format("~/Images/Category/{0}", img.Name))" width="100" height="100" />
    }

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.Label("Tours")
    </div>

    @foreach (var item in Model.Tours)
    {
        <div class="display-field dis-i-d">
            @Html.ActionLink((string)@item.TourName, "Details", "Tour", new { id = item.Id }, null)
        </div>
    }

</fieldset>
<p>&nbsp;</p>
    <div class="col-md-2 btn btn-primary link-c-n">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </div>
    <div class="col-md-2 btn btn-info">
        @Html.ActionLink("Back to List", "Index")
    </div>
<p>&nbsp;</p>
<p>&nbsp;</p>
