﻿@model LankaBookin.Models.BookingRequest

@{
    ViewBag.Title = "Create";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Create</h2>

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>BookingRequest</legend>

                    @Html.HiddenFor(model => model.ApartmentId)
                    @Html.HiddenFor(model => model.OrderDate)

                    @if (!string.IsNullOrEmpty(ViewBag.TourName))
                    {
                        <p class="req-detail-s">
                        <label>You are in Tour Mode&nbsp;</label>@Html.ActionLink("Cancel Tour Request", "CancelTour")
                        <label>Tour @ViewBag.TourName</label>
                        <label>City @ViewBag.CityName</label>
                            </p>
                    }

                    <div class="editor-label">
                        @Html.DisplayFor(model => model.Apartment.Name)
                    </div>

                    @if (Model.Apartment.IsPerRoom)
                    {
                        <div id="Rooms">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.RoomsBooked, "Number of Rooms")
                            </div>
                            <div class="editor-field">
                                @Html.DropDownList("RoomsBooked", (SelectList)ViewBag.RoomsBooked, htmlAttributes: new { @class = "col-sm-12" })
                                @Html.ValidationMessageFor(model => model.RoomsBooked)
                            </div>
                        </div>
                    }

                    <div class="editor-label">
                        @Html.LabelFor(model => model.CheckIn)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CheckIn,"{0:MM/dd/yyyy}", new {@class="form-control" })
                        @Html.ValidationMessageFor(model => model.CheckIn)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.CheckOut)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CheckOut,"{0:MM/dd/yyyy}", new {@class="form-control" })
                        @Html.ValidationMessageFor(model => model.CheckOut, "", new { id = "CheckoutVal" })
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Price, "Amount") <label>$</label>
                    </div>
                    <div class="editor-field">
                        
                        @Html.TextBoxFor(model => model.Price, new { id = "Price", @readonly = "readonly" })
                        @Html.ValidationMessage("Price")
                    </div>

                    <p>
                        <input type="submit" id="submit" value="Create" />
                    </p>
                  
                </fieldset>
            }

            <div class="btn btn-info b-t-l ">
                @Html.ActionLink("Back to Search", "Search","Apartment")
            </div>
              <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
            <script>

                $('form').submit(function () {
                    $('#submit').attr('disabled', 'disabled');
                });

                if (jQuery.ui) {
                    //alert('d');
                }

                $("#CheckIn").datepicker({ minDate: 0, });

                $("#CheckOut").datepicker({ minDate: 0 });

                $(document).ready(function () {

                    $('#CheckOut').change(function () {
                        var checkin=$('#CheckIn').val();
                        var checkout = $("#CheckOut").val();
                        var start = moment(checkin);
                        var end = moment(checkout);
                        var result = end.diff(start, "days");
                        if (result < 0) {
                            $('#CheckoutVal').val('Checkout date cannot be less that Checkin date');
                            $('#CheckOut').val('');
                        }
                        else {
                            var isperroom='@Model.Apartment.IsPerRoom';
                if (isperroom=='True') {
                    var SelectedValue = $('#RoomsBooked').val();
                    var modelprice = @Html.Raw(Json.Encode(Model.Apartment.PricePerRoom))
                          $('#Price').val(SelectedValue * modelprice * result);
                      }
                      else {
                          var dayprice = @Html.Raw(Json.Encode(Model.Apartment.WholePricePerDay));
                          var weekPrice = @Html.Raw(Json.Encode(Model.Apartment.WholePricePerWeek));
                          var monthPrice = @Html.Raw(Json.Encode(Model.Apartment.WholePricePerMonth));

                          if (result > 30) {
                              var additionalDays = result - 30;
                              var price=dayprice * additionalDays+monthPrice;
                              $('#Price').val(price);
                          }
                          else if (result > 7) {
                              var additionalDays = result - 7;
                              var price = dayprice * additionalDays + weekPrice;
                              $('#Price').val(price);
                          }
                          else{
                              var price = dayprice * result;
                              $('#Price').val(price);
                          }

                      }

                  }
        });

        $('#CheckIn').change(function () {
            var checkin=$('#CheckIn').val();
            var checkout = $("#CheckOut").val();
            var start = moment(checkin);
            var end = moment(checkout);
            var result=end.diff(start, "days");
            if(result<0){
                $('#CheckoutVal').val('Checkout date cannot be less that Checkin date');
                $('#CheckOut').val('');
            }
            else {
                var isperroom = '@Model.Apartment.IsPerRoom';
                      if (isperroom=='True') {
                          var SelectedValue = $('#RoomsBooked').val();
                          var modelprice = @Html.Raw(Json.Encode(Model.Apartment.PricePerRoom))
                          $('#Price').val(SelectedValue * modelprice * result);
                      }
                      else {
                          var dayprice = @Html.Raw(Json.Encode(Model.Apartment.WholePricePerDay));
                          var weekPrice = @Html.Raw(Json.Encode(Model.Apartment.WholePricePerWeek));
                          var monthPrice = @Html.Raw(Json.Encode(Model.Apartment.WholePricePerMonth));

                          if (result > 30) {
                              var additionalDays = result - 30;
                              var price = dayprice * additionalDays + monthPrice;
                              $('#Price').val(price);
                          }
                          else if (result > 7) {
                              var additionalDays = result - 7;
                              var price = dayprice * additionalDays + weekPrice;
                              $('#Price').val(price);
                          }
                          else {
                              var price = dayprice * result;
                              $('#Price').val(price);
                          }

                      }

                  }
              });


        $('#RoomsBooked').change(function () {
            var SelectedValue = $(this).val();

            var checkin=$('#CheckIn').val();
            var checkout=$('#CheckOut').val();
            var start = moment(checkin);
            var end = moment(checkout);
            var result=end.diff(start, "days");
            if(result<0){
                $('#CheckoutVal').val('Checkout date cannot be less that Checkin date');
                $('#CheckOut').val('');
            }
            else {
                var isperroom = '@Model.Apartment.IsPerRoom';
                      if (isperroom=='True') {
                          var SelectedValue = $('#RoomsBooked').val();
                          var modelprice = @Html.Raw(Json.Encode(Model.Apartment.PricePerRoom))
                          $('#Price').val(SelectedValue * modelprice * result);
                      }
                      else {
                          var dayprice = @Html.Raw(Json.Encode(Model.Apartment.WholePricePerDay));
                          var weekPrice = @Html.Raw(Json.Encode(Model.Apartment.WholePricePerWeek));
                          var monthPrice = @Html.Raw(Json.Encode(Model.Apartment.WholePricePerMonth));

                          if (result > 30) {
                              var additionalDays = result - 30;
                              var price = dayprice * additionalDays + monthPrice;
                              $('#Price').val(price);
                          }
                          else if (result > 7) {
                              var additionalDays = result - 7;
                              var price = dayprice * additionalDays + weekPrice;
                              $('#Price').val(price);
                          }
                          else {
                              var price = dayprice * result;
                              $('#Price').val(price);
                          }

                      }

                  }
              });

    });

            </script>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
