﻿@model LankaBookin.Models.BookingRequest

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
 <p>&nbsp;</p>

    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApartmentId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApartmentId)
    </div>
</div>
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</div>
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderDate)
    </div>
</div>
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheckIn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckIn)
    </div>
</div>
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheckOut)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckOut)
    </div>
</div>
    <div class="col-md-12">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomsBooked)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomsBooked)
    </div>
  </div>

@using (Html.BeginForm()) {
    <div class="col-md-2">
        <input type="submit" value="Delete" /> 
        </div>
        <div class="col-md-2 btn btn-info">
            
            @Html.ActionLink("Back to List", "Index")
            </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
}
