﻿@model LankaBookin.Models.BookingRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BookingRequest</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apartment.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apartment.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheckIn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckIn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheckOut)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckOut)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomsBooked)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomsBooked)
    </div>
   <div class="btn btn-info">
        @Html.ActionLink("Back to List", "Index")
        </div>
    <p>&nbsp;</p
        <p>&nbsp;</p>
    <p>&nbsp;</p>
</fieldset>
<div>
@*    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |*@
    
</div>
