﻿@model IEnumerable<LankaBookin.Models.BookingRequest>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<div id="dialog">
  <p>Your Bookin Request sucessfully submited. Lankabookin Agent will conatact you soon</p>
</div>  

@Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.Apartment.Name).Titled("Apartment Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Price).Titled("Price").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.OrderDate).Titled("Order Date").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.CheckIn).Titled("Check In").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.CheckOut).Titled("Check Out").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.RoomsBooked).Titled("Rooms").SetWidth(120).Sortable(true).Filterable(true);

          }).WithPaging(10)


<script>
    if (jQuery.ui) {
       // alert('ddede');
    }

    $(function () {
        $("#dialog").hide();
        var display = '@ViewBag.Display';
        if (display == 'True') {
            $("#dialog").show();
        }
        else {
            $("#dialog").hide();
        }
    });
</script>


