﻿@model LankaBookin.Models.User
@using LankaBookin.Common

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "User Details";
}

<h2>Details</h2>

<fieldset>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
        @Html.Label("User Role")
    </div>
    <div class="display-field">
        @Html.Label((string)ViewBag.UserRole.RoleName)
    </div>


    @if ((string)ViewBag.UserRole.RoleName == UserRoles.Internal.ToString())
    {
        <div class="display-label">
            @Html.Label("Apartments")
        </div>
        
        foreach (var apartment in Model.Apartments)
        {
        @Html.ActionLink(apartment.Name, "Details", "AdminApartment", new { id = apartment.Id }, null)
        }
    }
    else if ((string)ViewBag.UserRole.RoleName == UserRoles.Public.ToString())
    {
        
        <div class="display-label">
            @Html.Label("Wish List")
        </div>

        foreach (var wishlist in Model.UserWishList)
        {
        @Html.ActionLink(wishlist.Apartment.Name, "Details", "AdminApartment", new { id = wishlist.Apartment.Id }, null)

        }
        
        <div class="display-label">
            @Html.Label("User Ratings")
        </div>

        foreach (var rating in Model.Ratings)
        {
        @Html.ActionLink(rating.Apartment.Name, "Details", "AdminApartment", new { id = rating.Apartment.Id }, null)
        <br />
        @Html.Label(rating.Rate.ToString())
        }
        
        <div class="display-label">
            @Html.Label("User Reviews")
        </div>

        foreach (var review in Model.Reviews)
        {
        @Html.ActionLink(review.Apartment.Name, "Details", "AdminApartment", new { id = review.Apartment.Id }, null)
        <br />
        @Html.Label(review.ReviewNote.ToString())
        }
        
        <div class="display-label">
            @Html.Label("Booking History")
        </div>

        foreach (var request in Model.BookingRequests)
        {
        @Html.ActionLink(request.Apartment.Name, "Details", "AdminBookingRequest", new { id = request.Id }, null)
        }
    }

</fieldset>
<p>
    @if (User.IsInRole("SuperAdmin"))
    {
         
        <div class="col-md-2 btn btn-danger link-c-n">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</div>
    }
    <div class="col-md-2 btn btn-info">@Html.ActionLink("Back to List", "Index")</div>
</p>
