﻿@model LankaBookin.Models.User

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Edit";
}

<div class="submit-progress hidden">

  <label>Please wait while Saving Data...</label>

</div>

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { id = "Form" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
       

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDate)
        @Html.HiddenFor(model => model.Deleted)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName, "", new {id="UserNameVal" })
        </div>

        <div class="col-md-2">
            <input type="submit" value="Save" />
        </div>
        <div class="col-md-2 btn btn-info b-t-l">
            @Html.ActionLink("Back to List", "Index")
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </fieldset>
}



<script>

    $(function () {
        var uservalid = true;
        var emailvalid = false;

        $('#UserName').on('input propertychange paste', CheckValidUserName);

        //$('#Email').on('input propertychange paste', CheckValidEmail);

        function CheckValidUserName() {
            $.getJSON("/Account/CheckValidUserName", { userName: $("#UserName").val() },
              function (data, status) {
                  if (!data.valid) {
                      $('#UserNameVal').text('Username is already in use');
                      uservalid = false;
                  }
                  else {
                      $('#UserNameVal').text('');
                      uservalid = true;
                  }
              }
          );
        }

        function CheckValidEmail() {
            $.getJSON("/Account/CheckValidEmail", { email: $("#Email").val() },
             function (data, status) {
                 if (!data.valid) {
                     $('#EmailVal').text('Email already in use');
                     emailvalid = false;
                 }
                 else {
                     $('#EmailVal').text('');
                     emailvalid = true;
                 }
             }
         );
        }

        $("#Form").submit(function (e) {
            if ($(this).valid() && uservalid) {
                $('#Create').attr('disabled', 'disabled');
                $(".submit-progress").removeClass("hidden");
                $("body").addClass("submit-progress-bg");

            }
            else {
                e.preventDefault();
                $('#Create').removeAttr("disabled");
            }
        });
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
