﻿@model IEnumerable<LankaBookin.Models.User>
@using GridMvc.Html

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "User List";
}

<h2>@ViewBag.Title</h2>

<div class="clear-fix">&nbsp;</div>
<div class="btn btn-danger link-c-n">
    @Html.ActionLink("Create New", "Create")
</div>

@Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.UserName).Titled("User Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Name).Titled("Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Address).Titled("Address").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Phone).Titled("Phone").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Email).Titled("Email").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("View", "Details", "User", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());
              columns.Add().Titled("Actions").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", "User", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-success" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Delete", "Delete", "User", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-danger modal-link" }).ToHtmlString());

          }).WithPaging(10)



